balancers:
  - role: "balancer-ksql"
    name: "balancer-ksql"
    image: "envoyproxy/envoy:v1.33.0"
    hostname: "balancer-ksql"
    restart_policy: "always"
    ports:
      - "{{ port_ksql_balancer_ext }}:{{ port_ksql_balancer_int }}"
      - "{{ port_ksql_balancer_admin_ext }}:{{ port_ksql_balancer_admin_int }}"
    volumes:
      - "/data:/data:ro"
      - "/data/cluster/config/balancer-ksql.yaml:/etc/envoy/envoy.yaml:ro"
    healthcheck:
      test: >
        bash -c 'exec 3<>/dev/tcp/localhost/{{ port_ksql_balancer_admin_int }} &&
        echo -e "GET /ready HTTP/1.1\nHost: localhost\n\n" >&3 &&
        timeout 9 cat <&3 | grep -q LIVE &&
        { echo OK; exit 0; } || { echo unhealthy; exit 1; }'
      interval: 60s
      timeout: 10s
      retries: 5
      start_period: 5s

  - role: "balancer-connect"
    name: "balancer-connect"
    image: "envoyproxy/envoy:v1.33.0"
    hostname: "balancer-connect"
    restart_policy: "always"
    ports:
      - "{{ port_connect_balancer_ext }}:{{ port_connect_balancer_int }}"
      - "{{ port_connect_balancer_admin_ext }}:{{ port_connect_balancer_admin_int }}"
    volumes:
      - "/data:/data:ro"
      - "/data/cluster/config/balancer-connect.yaml:/etc/envoy/envoy.yaml:ro"
    healthcheck:
      test: >
        bash -c 'exec 3<>/dev/tcp/localhost/{{ port_connect_balancer_admin_int }} &&
        echo -e "GET /ready HTTP/1.1\nHost: localhost\n\n" >&3 &&
        timeout 9 cat <&3 | grep -q LIVE &&
        { echo OK; exit 0; } || { echo unhealthy; exit 1; }'
      interval: 60s
      timeout: 10s
      retries: 5
      start_period: 5s

  - role: "balancer-schema"
    name: "balancer-schema"
    image: "envoyproxy/envoy:v1.33.0"
    hostname: "balancer-schema"
    restart_policy: "always"
    ports:
      - "{{ port_schema_balancer_ext }}:{{ port_schema_balancer_int }}"
      - "{{ port_schema_balancer_admin_ext }}:{{ port_schema_balancer_admin_int }}"
    volumes:
      - "/data:/data:ro"
      - "/data/cluster/config/balancer-schema.yaml:/etc/envoy/envoy.yaml:ro"
    healthcheck:
      test: >
        bash -c 'exec 3<>/dev/tcp/localhost/{{ port_schema_balancer_admin_int }} &&
        echo -e "GET /ready HTTP/1.1\nHost: localhost\n\n" >&3 &&
        timeout 9 cat <&3 | grep -q LIVE &&
        { echo OK; exit 0; } || { echo unhealthy; exit 1; }'
      interval: 60s
      timeout: 10s
      retries: 5
      start_period: 5s
