kafka_services:
  - role: "controllers"
    name: "{{ hostvars[inventory_hostname]['hostname'] }}"
    image: "docker.artifactory.intel.r7g.org/apache/kafka:3.9.0"
    hostname: "{{ hostvars[inventory_hostname]['hostname'] }}"
    restart_policy: "always"
    published_ports:
      - "{{ hostvars[inventory_hostname]['port_jmx_monitoring_ext'] }}:{{ hostvars[inventory_hostname]['port_jmx_monitoring_int'] }}"
      - "{{ hostvars[inventory_hostname]['port_control_plane_ext'] }}:{{ hostvars[inventory_hostname]['port_control_plane_int'] }}"
    env:
      KAFKA_HEAP_OPTS: >-
        -Xms{{ ((ansible_memtotal_mb * (heap_size_percent | default(50))) / 100) | int }}M
        -Xmx{{ ((ansible_memtotal_mb * (heap_size_percent | default(50))) / 100) | int }}M
      KAFKA_JMX_OPTS: |
        -Djava.rmi.server.hostname={{ hostvars[inventory_hostname]['ansible_host'] }}
        -Dcom.sun.management.jmxremote
        -Dcom.sun.management.jmxremote.port={{ hostvars[inventory_hostname]['port_jmx_monitoring_int'] }}
        -Dcom.sun.management.jmxremote.rmi.port={{ hostvars[inventory_hostname]['port_jmx_monitoring_int'] }}
        -Dcom.sun.management.jmxremote.authenticate=false
        -Dcom.sun.management.jmxremote.ssl=false
    volumes:
      - "{{ hostvars[inventory_hostname]['node_config_path'] }}:/mnt/shared/config"
      - "{{ hostvars[inventory_hostname]['node_certificates_path'] }}:/etc/kafka/secrets"
      - "{{ hostvars[inventory_hostname]['node_credentials_path'] }}:/credentials"
      - "{{ hostvars[inventory_hostname]['node_data_path'] }}:/var/lib/kafka/data"
      - "{{ hostvars[inventory_hostname]['node_meta_path'] }}:/var/lib/kafka/meta"
      - "{{ hostvars[inventory_hostname]['node_logs_path'] }}:/opt/kafka/logs"
    command:
      [
        "/opt/kafka/bin/kafka-server-start.sh",
        "/mnt/shared/config/kraft.properties"
      ]

  - role: "brokers"
    name: "{{ hostvars[inventory_hostname]['hostname'] }}"
    image: "docker.artifactory.intel.r7g.org/apache/kafka:3.9.0"
    hostname: "{{ hostvars[inventory_hostname]['hostname'] }}"
    restart_policy: "always"
    published_ports:
      - "{{ hostvars[inventory_hostname]['port_jmx_monitoring_ext'] }}:{{ hostvars[inventory_hostname]['port_jmx_monitoring_int'] }}"
      - "{{ hostvars[inventory_hostname]['port_replication_ext'] }}:{{ hostvars[inventory_hostname]['port_replication_int'] }}"
      - "{{ hostvars[inventory_hostname]['port_consumer_mtls_ext'] }}:{{ hostvars[inventory_hostname]['port_consumer_mtls_int'] }}"
      - "{{ hostvars[inventory_hostname]['port_consumer_sasl_ssl_ext'] }}:{{ hostvars[inventory_hostname]['port_consumer_sasl_ssl_int'] }}"
    env:
      KAFKA_HEAP_OPTS: >-
        -Xms{{ ((ansible_memtotal_mb * (heap_size_percent | default(50))) / 100) | int }}M
        -Xmx{{ ((ansible_memtotal_mb * (heap_size_percent | default(50))) / 100) | int }}M
      KAFKA_JMX_OPTS: |
        -Djava.rmi.server.hostname={{ hostvars[inventory_hostname]['ansible_host'] }}
        -Dcom.sun.management.jmxremote
        -Dcom.sun.management.jmxremote.port={{ hostvars[inventory_hostname]['port_jmx_monitoring_int'] }}
        -Dcom.sun.management.jmxremote.rmi.port={{ hostvars[inventory_hostname]['port_jmx_monitoring_int'] }}
        -Dcom.sun.management.jmxremote.authenticate=false
        -Dcom.sun.management.jmxremote.ssl=false
    volumes:
      - "{{ hostvars[inventory_hostname]['node_config_path'] }}:/mnt/shared/config"
      - "{{ hostvars[inventory_hostname]['node_certificates_path'] }}:/etc/kafka/secrets"
      - "{{ hostvars[inventory_hostname]['node_credentials_path'] }}:/credentials"
      - "{{ hostvars[inventory_hostname]['node_data_path'] }}:/var/lib/kafka/data"
      - "{{ hostvars[inventory_hostname]['node_meta_path'] }}:/var/lib/kafka/meta"
      - "{{ hostvars[inventory_hostname]['node_logs_path'] }}:/opt/kafka/logs"
    command:
      [
        "/opt/kafka/bin/kafka-server-start.sh",
        "/mnt/shared/config/kraft.properties"
      ]

  - role: "schema"
    name: "{{ hostvars[inventory_hostname]['hostname'] }}"
    image: "docker.artifactory.intel.r7g.org/confluentinc/cp-schema-registry:7.9.0"
    hostname: "{{ hostvars[inventory_hostname]['hostname'] }}"
    restart_policy: "always"
    published_ports:
      - "{{ hostvars[inventory_hostname]['port_jmx_monitoring_ext'] }}:{{ hostvars[inventory_hostname]['port_jmx_monitoring_int'] }}"
      - "{{ hostvars[inventory_hostname]['port_schema_rest_ext'] }}:{{ hostvars[inventory_hostname]['port_schema_rest_int'] }}"
    env:
      KAFKA_HEAP_OPTS: >-
        -Xms{{ ((ansible_memtotal_mb * (heap_size_percent | default(50))) / 100) | int }}M
        -Xmx{{ ((ansible_memtotal_mb * (heap_size_percent | default(50))) / 100) | int }}M
      KAFKA_JMX_OPTS: |
        -Djava.rmi.server.hostname={{ hostvars[inventory_hostname]['ansible_host'] }}
        -Dcom.sun.management.jmxremote
        -Dcom.sun.management.jmxremote.port={{ hostvars[inventory_hostname]['port_jmx_monitoring_int'] }}
        -Dcom.sun.management.jmxremote.rmi.port={{ hostvars[inventory_hostname]['port_jmx_monitoring_int'] }}
        -Dcom.sun.management.jmxremote.authenticate=false
        -Dcom.sun.management.jmxremote.ssl=false
    volumes:
      - "{{ hostvars[inventory_hostname]['node_config_path'] }}:/mnt/shared/config"
      - "{{ hostvars[inventory_hostname]['node_certificates_path'] }}:/etc/kafka/secrets"
      - "{{ hostvars[inventory_hostname]['node_credentials_path'] }}:/credentials"
      - "{{ hostvars[inventory_hostname]['node_schema_secrets_path'] }}:/etc/schema-registry/secrets"
      - "{{ hostvars[inventory_hostname]['node_data_path'] }}:/var/lib/kafka/data"
      - "{{ hostvars[inventory_hostname]['node_meta_path'] }}:/var/lib/kafka/meta"
      - "{{ hostvars[inventory_hostname]['node_logs_path'] }}:/opt/kafka/logs"
    command:
      [
        "/usr/bin/schema-registry-start",
        "/mnt/shared/config/kraft.properties"
      ]

  - role: "connect"
    name: "{{ hostvars[inventory_hostname]['hostname'] }}"
    image: "docker.artifactory.intel.r7g.org/apache/kafka:3.9.0"
    hostname: "{{ hostvars[inventory_hostname]['hostname'] }}"
    restart_policy: "always"
    published_ports:
      - "{{ hostvars[inventory_hostname]['port_jmx_monitoring_ext'] }}:{{ hostvars[inventory_hostname]['port_jmx_monitoring_int'] }}"
      - "{{ hostvars[inventory_hostname]['port_connect_rest_ext'] }}:{{ hostvars[inventory_hostname]['port_connect_rest_int'] }}"
    env:
      KAFKA_HEAP_OPTS: >-
        -Xms{{ ((ansible_memtotal_mb * (heap_size_percent | default(50))) / 100) | int }}M
        -Xmx{{ ((ansible_memtotal_mb * (heap_size_percent | default(50))) / 100) | int }}M
      KAFKA_JMX_OPTS: |
        -Djava.rmi.server.hostname={{ hostvars[inventory_hostname]['ansible_host'] }}
        -Dcom.sun.management.jmxremote
        -Dcom.sun.management.jmxremote.port={{ hostvars[inventory_hostname]['port_jmx_monitoring_int'] }}
        -Dcom.sun.management.jmxremote.rmi.port={{ hostvars[inventory_hostname]['port_jmx_monitoring_int'] }}
        -Dcom.sun.management.jmxremote.authenticate=false
        -Dcom.sun.management.jmxremote.ssl=false
    volumes:
      - "{{ hostvars[inventory_hostname]['node_config_path'] }}:/mnt/shared/config"
      - "{{ hostvars[inventory_hostname]['node_certificates_path'] }}:/etc/kafka/secrets"
      - "{{ hostvars[inventory_hostname]['node_credentials_path'] }}:/credentials"
      - "{{ hostvars[inventory_hostname]['node_data_path'] }}:/var/lib/kafka/data"
      - "{{ hostvars[inventory_hostname]['node_meta_path'] }}:/var/lib/kafka/meta"
      - "{{ hostvars[inventory_hostname]['node_logs_path'] }}:/opt/kafka/logs"
      - "{{ hostvars[inventory_hostname]['node_plugins_path'] }}:/usr/share/java"
    command:
      [
        "/opt/kafka/bin/connect-distributed.sh",
        "/mnt/shared/config/kraft.properties"
      ]

  - role: "ksql"
    name: "{{ hostvars[inventory_hostname]['hostname'] }}"
    image: "docker.artifactory.intel.r7g.org/confluentinc/cp-ksqldb-server:7.9.0"
    hostname: "{{ hostvars[inventory_hostname]['hostname'] }}"
    restart_policy: "always"
    published_ports:
      - "{{ hostvars[inventory_hostname]['port_jmx_monitoring_ext'] }}:{{ hostvars[inventory_hostname]['port_jmx_monitoring_int'] }}"
      - "{{ hostvars[inventory_hostname]['port_ksql_rest_ext'] }}:{{ hostvars[inventory_hostname]['port_ksql_rest_int'] }}"
      - "{{ hostvars[inventory_hostname]['port_ksql_sync_ext'] }}:{{ hostvars[inventory_hostname]['port_ksql_sync_int'] }}"
    env:
      KAFKA_HEAP_OPTS: >-
        -Xms{{ ((ansible_memtotal_mb * (heap_size_percent | default(50))) / 100) | int }}M
        -Xmx{{ ((ansible_memtotal_mb * (heap_size_percent | default(50))) / 100) | int }}M
      KSQL_OPTS: "-Djdk.tls.client.protocols=TLSv1.3 -Dhttps.protocols=TLSv1.3 -Djdk.tls.server.protocols=TLSv1.3"
      KAFKA_JMX_OPTS: |
        -Djava.rmi.server.hostname={{ hostvars[inventory_hostname]['ansible_host'] }}
        -Dcom.sun.management.jmxremote
        -Dcom.sun.management.jmxremote.port={{ hostvars[inventory_hostname]['port_jmx_monitoring_int'] }}
        -Dcom.sun.management.jmxremote.rmi.port={{ hostvars[inventory_hostname]['port_jmx_monitoring_int'] }}
        -Dcom.sun.management.jmxremote.authenticate=false
        -Dcom.sun.management.jmxremote.ssl=false
    volumes:
      - "{{ hostvars[inventory_hostname]['node_config_path'] }}:/mnt/shared/config"
      - "{{ hostvars[inventory_hostname]['node_certificates_path'] }}:/etc/kafka/secrets"
      - "{{ hostvars[inventory_hostname]['node_credentials_path'] }}:/credentials"
      - "{{ hostvars[inventory_hostname]['node_data_path'] }}:/ksql/data"
      - "{{ hostvars[inventory_hostname]['node_logs_path'] }}:/var/log/ksqldb"
    command:
      [
        "/usr/bin/ksql-server-start",
        "/mnt/shared/config/kraft.properties"
      ]

kafka_data_format:
  - name: "kafka-storage-format-{{ hostvars[inventory_hostname]['hostname'] }}"
    image: "apache/kafka:3.9.0"
    hostname: "{{ hostvars[inventory_hostname]['hostname'] }}"
    rm: true
    volumes:
      - "{{ node_config_path }}/:/mnt/shared/config"
      - "{{ node_data_path }}:/var/lib/kafka/data"
      - "{{ node_meta_path }}:/var/lib/kafka/meta"
      - "{{ node_logs_path }}:/opt/kafka/logs"
      - "{{ node_certificates_path }}/:/etc/kafka/secrets"
    command:
      [
        "/opt/kafka/bin/kafka-storage.sh",
        "format",
        "--cluster-id", "{{ cluster_id }}",
        "--add-scram", "SCRAM-SHA-512=[name=admin,password=insecure]",
        "--config", "/mnt/shared/config/kraft.properties"
      ]