---
# INSTALL
- name: Install KPOW GUI containers
  tags: gui_kpow_ce_install
  when: inventory_hostname == "node-00"
  run_once: true
  shell: "{{ item.cmd }}"
  loop: "{{ kpow_gui_containers }}"

# START
- name: Start KPOW GUI containers
  tags: gui_kpow_ce_start
  when: inventory_hostname == "node-00"
  run_once: true
  shell: "docker start {{ item.name }}"
  loop: "{{ kpow_gui_containers }}"

# RESTART
- name: Restart KPOW GUI containers
  tags: gui_kpow_ce_restart
  when: inventory_hostname == "node-00"
  run_once: true
  shell: "docker restart {{ item.name }}"
  loop: "{{ kpow_gui_containers }}"

# STOP
- name: Stop KPOW GUI containers
  tags: gui_kpow_ce_stop
  when: inventory_hostname == "node-00"
  run_once: true
  shell: "docker stop {{ item.name }} || true"
  loop: "{{ kpow_gui_containers }}"

# UNINSTALL
- name: Remove KPOW GUI containers
  tags: gui_kpow_ce_uninstall
  when: inventory_hostname == "node-00"
  run_once: true
  shell: "docker rm -f {{ item.name }} || true"
  loop: "{{ kpow_gui_containers }}"
