---
- name: Install Portainer on all nodes
  tags: gui_portainer_install
  shell: >
    {{ docker_command_portainer_run }}
  loop: "{{ groups['all'] }}"
  delegate_to: "{{ item }}"

- name: Start Portainer on all nodes
  tags: gui_portainer_start
  shell: >
    docker start portainer

- name: Restart Portainer on all nodes
  tags: gui_portainer_restart
  shell: >
    docker restart portainer

- name: Stop Portainer on all nodes
  tags: gui_portainer_stop
  shell: >
    docker stop portainer

- name: Remove Portainer on all nodes
  tags: gui_portainer_uninstall
  shell: |
    docker rm -f portainer
    docker volume rm portainer_data
