---
# INSTALL
- name: Install KPOW GUI containers
  tags: gui_kpow_ce_install
  when: inventory_hostname == "node-00"
  run_once: true
  docker_container:
    name: "{{ item.name }}"
    image: "{{ item.image }}"
    hostname: "{{ item.hostname }}"
    restart_policy: "{{ item.restart_policy | default('always') }}"
    published_ports: "{{ item.published_ports | default([]) }}"
    memory: "{{ item.memory | default(omit) }}"
    volumes: "{{ item.volumes | default([]) }}"
    env_file: "{{ item.env_file | default(omit) }}"
    env: "{{ item.env | default({}) }}"
    healthcheck: "{{ item.healthcheck | default(omit) }}"
    state: started
  loop: "{{ kpow_gui_containers }}"

# START
- name: Start KPOW GUI containers
  tags: gui_kpow_ce_start
  when: inventory_hostname == "node-00"
  run_once: true
  docker_container:
    name: "{{ item.name }}"
    state: started
  loop: "{{ kpow_gui_containers }}"


# RESTART
- name: Restart KPOW GUI containers
  tags: gui_kpow_ce_restart
  when: inventory_hostname == "node-00"
  run_once: true
  docker_container:
    name: "{{ item.name }}"
    state: restarted
  loop: "{{ kpow_gui_containers }}"

# STOP
- name: Stop KPOW GUI containers
  tags: gui_kpow_ce_stop
  when: inventory_hostname == "node-00"
  run_once: true
  docker_container:
    name: "{{ item.name }}"
    state: stopped
  loop: "{{ kpow_gui_containers }}"


# UNINSTALL
- name: Remove KPOW GUI containers
  tags: gui_kpow_ce_uninstall
  when: inventory_hostname == "node-00"
  run_once: true
  docker_container:
    name: "{{ item.name }}"
    state: absent
  loop: "{{ kpow_gui_containers }}"