---
- name: Remove Portainer on all nodes
  tags: gui_portainer
  shell: >
    docker rm -f portainer
    docker volume rm portainer_data

- name: Deploy Portainer on all nodes
  tags: gui_portainer
  shell: >
    {{ docker_command_portainer_run }}
