---
- name: Remove Portainer on all nodes
  tags: gui_portainer
  shell: >
    docker rm -f portainer

- name: Deploy Portainer on all nodes
  tags: gui_portainer
  shell: >
    {{ docker_command_portainer_run }}
  loop: "{{ groups['all'] }}"
  loop_control:
    loop_var: item