---
# INSTALL
- name: Install KPOW GUI containers
  tags: gui_kpow_ce_install
  when: inventory_hostname == "node-00"
  docker_container:
    name: "{{ item.name }}"
    hostname: "{{ item.hostname }}"
    image: "{{ item.image }}"
    command: "{{ item.command | default(omit) }}"
    state: started
    restart_policy: "{{ item.restart_policy | default('always') }}"
    auto_remove: "{{ item.auto_remove | default(omit) }}"
    memory: "{{ item.memory | default(omit) }}"
    ports: "{{ item.ports | default(omit) }}"
    env: "{{ item.env | default(omit) }}"
    env_file: "{{ item.env_file | default(omit) }}"
    volumes: "{{ item.volumes | default(omit) }}"
    healthcheck: "{{ item.healthcheck | default(omit) }}"
  loop: "{{ gui_kpow }}"
  loop_control:
    label: "{{ item.name }}"

# START
- name: Start KPOW GUI containers
  tags: gui_kpow_ce_start
  when: inventory_hostname == "node-00"
  docker_container:
    name: "{{ item.name }}"
    state: started
  loop: "{{ gui_kpow }}"
  loop_control:
    label: "{{ item.name }}"

# STOP
- name: Stop KPOW GUI containers
  tags: gui_kpow_ce_stop
  when: inventory_hostname == "node-00"
  docker_container:
    name: "{{ item.name }}"
    state: stopped
  loop: "{{ gui_kpow }}"
  loop_control:
    label: "{{ item.name }}"

# RESTART
- name: Restart KPOW GUI containers
  tags: gui_kpow_ce_restart
  when: inventory_hostname == "node-00"
  docker_container:
    name: "{{ item.name }}"
    state: started
    restart: true
  loop: "{{ gui_kpow }}"
  loop_control:
    label: "{{ item.name }}"

# UNINSTALL
- name: Remove KPOW GUI containers
  tags: gui_kpow_ce_uninstall
  when: inventory_hostname == "node-00"
  docker_container:
    name: "{{ item.name }}"
    state: absent
    force_kill: true
  loop: "{{ gui_kpow }}"
  loop_control:
    label: "{{ item.name }}"