---
- name: Install Portainer on all nodes
  tags: gui_portainer_run
  shell: >
    {{ docker_command_portainer_run }}

- name: Start Portainer on all nodes
  tags: gui_portainer_run
  shell: >
    docker start portainer

- name: Restart Portainer on all nodes
  tags: gui_portainer_run
  shell: >
    docker restart portainer

- name: Stop Portainer on all nodes
  tags: gui_portainer_run
  shell: >
    docker stop portainer

- name: Remove Portainer on all nodes
  tags: gui_portainer_uninstall
  shell: >
    docker rm -f portainer
    docker volume rm portainer_data
