---
- name: Envoy Balancers Install on node-00
  tags:
    - balancers_install
  when: inventory_hostname == "node-00"
  docker_container:
    name: "{{ item.name }}"
    hostname: "{{ item.hostname }}"
    image: "{{ item.image }}"
    command: "{{ item.command | default(omit) }}"
    state: started
    restart_policy: "{{ item.restart_policy | default('always') }}"
    auto_remove: "{{ item.rm | default(omit) }}"
    memory: "{{ item.memory | default(omit) }}"
    ports: "{{ item.ports | default(omit) }}"
    env: "{{ item.env | default(omit) }}"
    env_file: "{{ item.env_file | default(omit) }}"
    volumes: "{{ item.volumes | default(omit) }}"
    healthcheck: "{{ item.healthcheck | default(omit) }}"
  loop: "{{ balancers }}"
  loop_control:
    label: "{{ item.name }}"




