gui_portainer:
  - name: portainer
    image: "portainer/portainer-ee:2.33.4-alpine"
    hostname: "portainer"
    restart_policy: "always"
    ports:
      - "{{ hostvars[inventory_hostname]['port_portainer_ext'] }}:{{ hostvars[inventory_hostname]['port_portainer_int'] }}"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "{{ node_certificates_path }}:/certs"
      - "portainer_data:/data"
    command:
      [
        "--tlscert", "/certs/{{ hostvars[inventory_hostname]['hostname'] }}.fullchain.pem",
        "--tlskey", "/certs/{{ hostvars[inventory_hostname]['hostname'] }}.key"
      ]
    healthcheck:
      test:
        - CMD-SHELL
        - >
          if wget --spider --no-check-certificate -q https://localhost:9443/api/system/status;
          then
            echo "OK";
            exit 0;
          else
            echo "Unhealthy";
            exit 1;
          fi
      interval: "30s"
      timeout: "5s"
      retries: 3

gui_kpow:
  - name: kpow_ce_console
    image: "factorhouse/kpow-ce:94.6"
    hostname: "kpow_ce_console"
    restart_policy: "always"
    ports:
      - "{{ hostvars[inventory_hostname]['port_kpow_ce_console_ext'] }}:{{ hostvars[inventory_hostname]['port_kpow_ce_console_int'] }}"
    memory: "1g"
    volumes:
      - "/data:/data:ro"
    env_file: "{{ node_config_path }}/kpow_ce_console.env"
    env:
      JVM_OPTS: |
        -Djava.awt.headless=true
        -Djavax.net.ssl.trustStore={{ node_certificates_path }}/shared.truststore.jks
        -Djavax.net.ssl.trustStorePassword={{ certificate_password }}
        -Dorg.xerial.snappy.tempdir=/opt/factorhouse/tmp
        -server
        -Xmx512m -Xms256m
        -XX:InitialRAMPercentage=70
        -XX:MaxInlineLevel=15
        -XX:MaxRAMPercentage=70
    healthcheck:
      test:
        - CMD-SHELL
        - >
          response=$(curl -s -o /dev/null -w "%{http_code}" http://localhost:3000/healthy);
          if [ "$response" -eq 200 ]; then
            echo "OK";
            exit 0;
          else
            echo "Unhealthy";
            exit 1;
          fi
      interval: "30s"
      retries: 3
      start_period: "10s"
      timeout: "10s"

  - name: kpow_ce_proxy
    image: "nginx:1.27-alpine"
    hostname: "kpow_ce_proxy"
    restart_policy: "always"
    ports:
      - "{{ hostvars[inventory_hostname]['port_kpow_ce_proxy_ext'] }}:{{ hostvars[inventory_hostname]['port_kpow_ce_proxy_int'] }}"
    memory: "256m"
    volumes:
      - "{{ node_config_path }}/kpow_ce_proxy.conf:/etc/nginx/nginx.conf:ro"
      - "/data:/data:ro"
    healthcheck:
      test:
        - CMD-SHELL
        - >
          response=$(curl -s --cacert {{ node_certificates_path }}/ca.crt https://{{ hostvars['node-00']['hostname'] }}/health);
          if echo "$response" | grep -q "OK"; then
            echo "OK";
            exit 0;
          else
            echo "Unhealthy";
            exit 1;
          fi
      interval: "30s"
      retries: 3
      start_period: "10s"
      timeout: "10s"