kpow_gui_containers:
  - name: kpow_ce_console
    image: "factorhouse/kpow-ce:94.6"
    hostname: "kpow_ce_console"
    restart_policy: "always"
    published_ports:
      - "{{ hostvars[inventory_hostname]['port_kpow_ce_console_ext'] }}:{{ hostvars[inventory_hostname]['port_kpow_ce_console_int'] }}"
    memory: "1g"
    volumes:
      - "/data:/data:ro"
    env_file: "{{ node_config_path }}/kpow_ce_console.env"
    env:
      JVM_OPTS: |
        -Djava.awt.headless=true
        -Djavax.net.ssl.trustStore={{ storage_certificates_path }}/shared.truststore.jks
        -Djavax.net.ssl.trustStorePassword={{ certificate_password }}
        -Dorg.xerial.snappy.tempdir=/opt/factorhouse/tmp
        -server
        -Xmx512m -Xms256m
        -XX:InitialRAMPercentage=70
        -XX:MaxInlineLevel=15
        -XX:MaxRAMPercentage=70
    healthcheck:
      test:
        - CMD-SHELL
        - >
          response=$(curl -s http://localhost:3000);
          if echo "$response" | grep -q "<title>Kpow for Apache Kafka"; then
            exit "OK";
          else
            exit "Unhealthy";
          fi
      interval: "30s"
      retries: 3
      start_period: "10s"
      timeout: "10s"

  - name: kpow_ce_proxy
    image: "nginx:1.27-alpine"
    hostname: "kpow_ce_proxy"
    restart_policy: "always"
    published_ports:
      - "{{ hostvars[inventory_hostname]['port_kpow_ce_proxy_ext'] }}:{{ hostvars[inventory_hostname]['port_kpow_ce_proxy_int'] }}"
    memory: "256m"
    volumes:
      - "{{ node_config_path }}/kpow_ce_proxy.conf:/etc/nginx/nginx.conf:ro"
      - "/data:/data:ro"
    healthcheck:
      test: >
        ["CMD-SHELL",
         "response=$(curl -sk https://{{ hostvars['node-00']['hostname'] }}/health);
          if echo \"$response\" | grep -q \"OK\"; then exit 0; else exit 1; fi"]
      interval: "30s"
      retries: 3
      start_period: "10s"
      timeout: "10s"