---
- name: Issue nodes reboot silently
  tags:
    - cluster_reboot
  ansible.builtin.shell:
    cmd: "nohup bash -c 'sleep 30 && reboot' >/dev/null 2>&1 &"
  async: 1
  poll: 0
  ignore_errors: true