---
- name: Remove temporal folder on node-00
  tags:
    - certificates_backup
    - certificates_restore
    - cluster_backup
    - cluster_restore
    - configs_backup
    - configs_restore
    - credentials_backup
    - credentials_restore
    - data_backup
    - data_restore
    - temp_cleanup
  when: inventory_hostname == "node-00"
  ansible.builtin.file:
    path: "{{ storage_temp_path }}"
    state: absent

- name: Create temporal folder on central
  tags:
    - certificates_backup
    - certificates_restore
    - cluster_backup
    - cluster_restore
    - configs_backup
    - configs_restore
    - credentials_backup
    - credentials_restore
    - data_backup
    - data_restore
    - temp_cleanup
  when: inventory_hostname == "node-00"
  ansible.builtin.file:
    path: "{{ storage_temp_path }}"
    state: directory
    mode: '0755'

- name: Remove temporal folder on nodes
  tags:
    - certificates_backup
    - certificates_restore
    - cluster_backup
    - cluster_restore
    - configs_backup
    - configs_restore
    - credentials_backup
    - credentials_restore
    - data_backup
    - data_restore
    - temp_cleanup
  ansible.builtin.file:
    path: "{{ node_temp_path }}"
    state: absent

- name: Create temporal folder on nodes
  tags:
    - certificates_backup
    - certificates_restore
    - cluster_backup
    - cluster_restore
    - configs_backup
    - configs_restore
    - credentials_backup
    - credentials_restore
    - data_backup
    - data_restore
    - temp_cleanup
  ansible.builtin.file:
    path: "{{ node_temp_path }}"
    state: directory
    mode: '0755'