# === Retention policy =================================================================================================

# Number of days to retain full cluster backups.
retention_policy_cluster: 30

# === Node Permissions =================================================================================================

# Service user
owner_user_data: 1000

# Service group
owner_group_data: 1000

# Certificate file permissions
chmod_certificates: 0755

# Credentials file permissions
chmod_credentials: 0755

# Config folder permissions
chmod_configs: 0755

# Data folder permissions
chmod_data: 0755

# Data folder permissions
chmod_logs: 0755

# === Central Storage Base =============================================================================================

# Directory for long-term storage (cold storage) of backups - may be big and slow drive.
storage_cold_path: "/backup/cold"

# Temporary directory on central for extracting & creating of backup files - should be fast drive.
storage_temp_path: "/data/temp"

# === Central Cluster Backup & Restore section =========================================================================

# Timestamp for the backup files, formatted as "YYYY-MM-DD---HH-MM-SS".
backup_date: "{{ ansible_date_time.date }}---{{ ansible_date_time.time | replace(':', '-') }}"

# Folder dedicated for all backups on cold storage
central_cluster_backup_base: "{{ storage_cold_path }}/cluster"

# Folder dedicated for pinned backups, that will be excluded from rotation
central_cluster_backup_pinned: "{{ central_cluster_backup_base }}/pinned"

# Folder dedicated for rotated backups, that will be cleaned up from old backups during rotation
central_cluster_backup_rotated: "{{ central_cluster_backup_base }}/rotated"

# Pattern of stored backups, that is being searched for delete during rotation
central_cluster_backup_rotate_pattern: "*cluster.tar*"

# Folder that should be created during backup operation, including year/month/day folders.
central_cluster_backup_path: "{{ central_cluster_backup_rotated }}/{{ ansible_date_time.year }}/{{ ansible_date_time.month }}/{{ ansible_date_time.day }}"

# Full path for the backup archive, named with a timestamp.
central_cluster_backup_file: "{{ central_cluster_backup_path }}/{{ backup_date }}---cluster.tar.xz"

# === Node Storage Base  ===============================================================================================

# Cluster storage on nodes for everything related to cluster - should be fast drive
node_storage_base: "/data/cluster"

# Temporary directory on nodes for extracting & creating archives for backups & restores - may be fast drive
node_temp_path: "/data/temp"

# === Node Storage Certificates section ================================================================================

# Folder for certificates files on each node
node_certificates_path: "{{ node_storage_base }}/certificates"

# === Node Storage Credentials section =================================================================================

# Folder for credentials files on each node
node_credentials_path: "{{ node_storage_base }}/credentials"

# === Node Schema Secrets section ======================================================================================

# Folder for credentials files on each node
node_schema_secrets_path: "{{ node_storage_base }}/schema_secrets"

# === Node Storage Config section ======================================================================================

# Folder for config files on each node
node_config_path: "{{ node_storage_base }}/config"

# Common filename of the kafka config file on nodes
node_config_file: "{{ node_config_path }}/kraft.properties"

# === Node Storage Data section ========================================================================================

# Folder for data folders on each node
node_data_store: "{{ node_storage_base }}/data"

# Folder for logs files in the data folder on each node
node_data_path: "{{ node_data_store }}/logs"

# Folder for meta files in the data folder on each node
node_meta_path: "{{ node_data_store }}/meta"

# Temporal data archive on node, for backup/restore operations
node_data_temp_archive: "{{ node_temp_path }}/{{ inventory_hostname }}---data.tar.xz"

# === Node Storage Logs section ========================================================================================

# Folder for log files on each node
node_logs_path: "{{ node_storage_base }}/logs"

# === Node Storage Plugins section ========================================================================================

# Folder for connect plugin files on connect nodes
node_plugins_path: "{{ node_storage_base }}/plugins"


