events {
    worker_connections 1024;
}

http {
    upstream schema_registry_backend {
    {% for host in groups['schema'] %}
        server {{ hostvars[host]['hostname'] }}:{{ port_schema_rest_ext }} resolve;
    {% endfor %}
    }

    server {
        listen {{ port_balancer_schema_int }} ssl;
        server_name {{ hostvars['node-00']['hostname'] }};

        ssl_certificate /data/cluster/certificates/nodes/{{ hostvars['node-00']['hostname'] }}/{{ hostvars['node-00']['hostname'] }}.crt;
        ssl_certificate_key /data/cluster/certificates/nodes/{{ hostvars['node-00']['hostname'] }}/{{ hostvars['node-00']['hostname'] }}.key;
        ssl_protocols TLSv1.3;
        ssl_session_cache shared:SSL:10m;
        ssl_session_timeout 10m;

        location / {
            proxy_pass https://schema_registry_backend;
            proxy_ssl_verify on;
            proxy_ssl_protocols TLSv1.3;
            proxy_ssl_trusted_certificate /data/cluster/certificates/CA/ca.crt;
            proxy_set_header Host $host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
    }
}
