static_resources:
  ###############################################
  # DOWNSTREAM LISTENER WITH TLS + SNI VERIFY
  ###############################################
  listeners:
  - name: https_listener
    address:
      socket_address:
        address: 0.0.0.0
        port_value: {{ port_connect_balancer_int }}
    listener_filters:
      - name: envoy.filters.listener.tls_inspector
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.listener.tls_inspector.v3.TlsInspector
    filter_chains:
      - filter_chain_match:
          server_names: [ "{{ hostvars['node-00']['hostname'] }}" ]
        transport_socket:
          name: envoy.transport_sockets.tls
          typed_config:
            "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.DownstreamTlsContext
            common_tls_context:
              tls_params:
                tls_minimum_protocol_version: TLSv1_3
                tls_maximum_protocol_version: TLSv1_3
              tls_certificates:
                - certificate_chain: { filename: "{{ node_certificates_path }}/{{ hostvars['node-00']['hostname'] }}.crt" }
                  private_key: { filename: "{{ node_certificates_path }}/{{ hostvars['node-00']['hostname'] }}.key" }
              validation_context:
                trusted_ca: { filename: "{{ node_certificates_path }}/ca.crt" }
            require_client_certificate: false
        filters:
          - name: envoy.filters.network.http_connection_manager
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
              http_filters:
                - name: envoy.filters.http.router
                  typed_config:
                    "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
              stat_prefix: ingress_https
              access_log:
                - name: envoy.access_loggers.stdout
                  typed_config:
                    "@type": type.googleapis.com/envoy.extensions.access_loggers.stream.v3.StdoutAccessLog
                    log_format:
                      json_format:
                        start_time: "%START_TIME%"
                        protocol: "%PROTOCOL%"
                        method: "%REQ(:METHOD)%"
                        path: "%REQ(:PATH)%"
                        response_code: "%RESPONSE_CODE%"
                        user_agent: "%REQ(USER-AGENT)%"
                        response_flags: "%RESPONSE_FLAGS%"
                        bytes_received: "%BYTES_RECEIVED%"
                        bytes_sent: "%BYTES_SENT%"
                        duration_ms: "%DURATION%"
                        upstream_service_time_ms: "%RESP(X-ENVOY-UPSTREAM-SERVICE-TIME)%"
                        x_forwarded_for: "%REQ(X-FORWARDED-FOR)%"
                        request_id: "%REQ(X-REQUEST-ID)%"
                        authority: "%REQ(:AUTHORITY)%"
                        upstream_host: "%UPSTREAM_HOST%"
              route_config:
                name: local_route
                virtual_hosts:
                  - name: backend_services
                    domains: [ "*" ]
                    routes:
                      - match: { prefix: "/" }
                        route:
                          weighted_clusters:
                            clusters:
{% for host in groups['connect'] %}
                              - name: {{ host | replace('-', '') }}_cluster
                                weight: 100
                                host_rewrite_literal: "{{ hostvars[host]['hostname'] }}"
{% endfor %}

  clusters:
{% for host in groups['connect'] %}
  ###############################################
  # UPSTREAM CLUSTER FOR {{ host | replace('-', '') }}_cluster
  ###############################################
  - name: {{ host | replace('-', '') }}_cluster
    type: STRICT_DNS
    lb_policy: ROUND_ROBIN
    connect_timeout: 5s

    load_assignment:
      cluster_name: {{ host | replace('-', '') }}_cluster
      endpoints:
      - lb_endpoints:
        - endpoint:
            address:
              socket_address:
                address: {{ hostvars[host]['hostname'] }}
                port_value: {{ port_connect_rest_ext }}

    health_checks:
      - timeout: 5s
        interval: 15s
        unhealthy_threshold: 1
        healthy_threshold: 3
        http_health_check:
          path: "/health"
          host: "{{ hostvars[host]['hostname'] }}:{{ port_connect_rest_ext }}"
          expected_statuses:
            - start: 200
              end: 201

    transport_socket:
      name: envoy.transport_sockets.tls
      typed_config:
        "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
        sni: "{{ hostvars[host]['hostname'] }}"
        common_tls_context:
          tls_params:
            tls_minimum_protocol_version: TLSv1_3
            tls_maximum_protocol_version: TLSv1_3
          tls_certificates:
          - certificate_chain: { filename: "{{ node_certificates_path }}/users/admin/admin.crt" }
            private_key:       { filename: "{{ node_certificates_path }}/users/admin/admin.key" }
          validation_context:
            trusted_ca: { filename: "{{ node_certificates_path }}/CA/ca.crt" }

{% endfor %}

###############################################
# ADMIN INTERFACE
###############################################
admin:
  address:
    socket_address:
      address: 0.0.0.0
      port_value: {{ port_connect_balancer_admin_int }}
  access_log:
    - name: envoy.access_loggers.stdout
      typed_config:
        "@type": type.googleapis.com/envoy.extensions.access_loggers.stream.v3.StdoutAccessLog
        log_format:
          json_format:
            start_time: "%START_TIME%"
            protocol: "%PROTOCOL%"
            method: "%REQ(:METHOD)%"
            path: "%REQ(:PATH)%"
            response_code: "%RESPONSE_CODE%"
            user_agent: "%REQ(USER-AGENT)%"
            response_flags: "%RESPONSE_FLAGS%"
            bytes_received: "%BYTES_RECEIVED%"
            bytes_sent: "%BYTES_SENT%"
            duration_ms: "%DURATION%"
            upstream_service_time_ms: "%RESP(X-ENVOY-UPSTREAM-SERVICE-TIME)%"
            x_forwarded_for: "%REQ(X-FORWARDED-FOR)%"
            request_id: "%REQ(X-REQUEST-ID)%"
            authority: "%REQ(:AUTHORITY)%"
            upstream_host: "%UPSTREAM_HOST%"

overload_manager:
  refresh_interval: 0.5s
  resource_monitors:
    - name: "envoy.resource_monitors.global_downstream_max_connections"
      typed_config:
        "@type": type.googleapis.com/envoy.extensions.resource_monitors.downstream_connections.v3.DownstreamConnectionsConfig
        max_active_downstream_connections: 100000

