events {
    worker_connections 1024;
}

stream {
    upstream kafka_ksql_backend {
    {% for host in groups['ksql'] %}
        server {{ hostvars[host]['hostname'] }}:{{ port_ksql_rest_ext }};
    {% endfor %}
}

    server {
        listen {{ port_balancer_ksql_int }};
        proxy_pass kafka_ksql_backend;
    }
}