events {
    worker_connections 1024;
}

stream {
    upstream kafka_schema_backend {
    {% for host in groups['schema'] %}
        server {{ hostvars[host]['hostname'] }}:{{ port_schema_rest_ext }};
    {% endfor %}
}

    server {
        listen {{ port_balancer_schema_int }};
        proxy_pass kafka_schema_backend;
    }
}