global
  log stdout format raw local0
  tune.ssl.default-dh-param 2048
  ssl-default-bind-options no-sslv3 no-tlsv10 no-tlsv11 no-tlsv12
  ssl-default-server-options no-sslv3 no-tlsv10 no-tlsv11 no-tlsv12

defaults
  mode http
  option dontlognull
  option http-server-close
  timeout connect 5s
  timeout client 60s
  timeout server 60s
  log-format "{\"ts\":\"%t\",\"ip\":\"%ci\",\"server\":\"%s\",\"http\":{\"request\":\"%r\",\"status\":%ST,\"bytes\":%B},\"tls_front\":{\"enabled\":%[ssl_fc],\"protocol\":\"%[ssl_fc_protocol]\",\"sni\":\"%[ssl_fc_sni]\",\"client_cert_present\":%[ssl_c_used],\"client_verify_code\":%[ssl_c_verify],\"client_cn\":\"%[ssl_c_s_dn(cn)]\",\"client_subject\":\"%[ssl_c_s_dn]\",\"client_issuer\":\"%[ssl_c_i_dn]\"},\"timings\":{\"total_ms\":%Tt,\"connect_ms\":%Tc,\"handshake_ms\":%Th,\"queue_ms\":%Tw,\"response_ms\":%Tr} }"

frontend health
  bind 0.0.0.0:8080
  monitor-uri /health

frontend metrics
  bind 0.0.0.0:9940
  http-request use-service prometheus-exporter

frontend fe_kafka_connect
  log stdout format raw local0
  bind 0.0.0.0:{{ port_connect_balancer_int }} ssl crt /data/cluster/certificates/node-00.intel.r7g.org.pem ca-file /data/cluster/certificates/ca.crt verify optional
  http-request deny if !{ ssl_c_verify 0 }

{% for host in groups['connect'] %}
  use_backend be_{{ host | replace('-', '_') }} if { srv_is_up(be_{{ host | replace('-', '_') }}/{{ hostvars[host]['hostname'] }}) }
{% endfor %}

{% for host in groups['connect'] %}
backend be_{{ host | replace('-', '_') }}
  mode http
  http-request set-header Host {{ hostvars[host]['hostname'] }}
  option httpchk GET /health
  http-check send hdr Host {{ hostvars[host]['hostname'] }}
  http-check expect status 200
  http-after-response set-header X-Upstream-Node {{ hostvars[host]['hostname'] }}
  server {{ hostvars[host]['hostname'] }} {{ hostvars[host]['hostname'] }}:{{ port_connect_rest_int }} ssl crt /data/cluster/certificates/users/admin/admin.pem ca-file /data/cluster/certificates/ca.crt verify required sni str({{ hostvars[host]['hostname'] }}) check check-ssl inter 15s fall 1 rise 2
{% endfor %}
