# KSQL CONFIG
########################################################################################################################
# no extra metrics and mess in logs
confluent.support.metrics.enable=false
# Bootstrap servers - list of brokers for connecting to Kafka
bootstrap.servers={% for host in (groups['combined'] | default([])) + (groups['brokers'] | default([])) %}
{{ hostvars[host]['hostname'] }}:{{ hostvars[host]['port_consumer_mtls_ext'] }}{% if not loop.last %},{% endif %}{% endfor %}

# Unique service ID for ksqlDB
ksql.service.id=cluster-ksql

# consumer group id
ksql.streams.consumer.group.id=cluster-ksql

########################################################################################################################
# 🔐 ksqlDB listeners
########################################################################################################################
# actually listened ports internally
listeners=https://{{ hostvars[inventory_hostname]['hostname'] }}:{{ hostvars[inventory_hostname]['port_ksql_rest_int'] }},https://{{ hostvars[inventory_hostname]['hostname'] }}:{{ hostvars[inventory_hostname]['port_ksql_sync_int'] }}
listeners.https.ssl.client.auth=REQUIRED
listeners.https.ssl.enabled.protocols=TLSv1.3
listeners.https.ssl.endpoint.identification.algorithm=HTTPS
listeners.https.ssl.key.password={{ certificate_password }}
listeners.https.ssl.keystore.location=/etc/kafka/secrets/{{ hostvars[inventory_hostname]['hostname'] }}.jks
listeners.https.ssl.keystore.password={{ certificate_password }}
listeners.https.ssl.keystore.type=JKS
listeners.https.ssl.protocol=TLS
listeners.https.ssl.truststore.location=/etc/kafka/secrets/shared.truststore.jks
listeners.https.ssl.truststore.password={{ certificate_password }}
listeners.https.ssl.truststore.type=JKS


# Advertised listener - this should be routable from non ksql servers - external ports
ksql.advertised.listener=https://{{ hostvars[inventory_hostname]['hostname'] }}:{{ hostvars[inventory_hostname]['port_ksql_sync_ext'] }}
ksql.ssl.client.auth=REQUIRED
ksql.ssl.enabled.protocols=TLSv1.3
ksql.ssl.endpoint.identification.algorithm=HTTPS
ksql.ssl.key.password={{ certificate_password }}
ksql.ssl.keystore.location=/etc/kafka/secrets/{{ hostvars[inventory_hostname]['hostname'] }}.jks
ksql.ssl.keystore.password={{ certificate_password }}
ksql.ssl.keystore.type=JKS
ksql.ssl.protocol=TLS
ksql.ssl.truststore.location=/etc/kafka/secrets/shared.truststore.jks
ksql.ssl.truststore.password={{ certificate_password }}
ksql.ssl.truststore.type=JKS

# Internal listener - this should be routable from ksql only servers - external ports
ksql.internal.listener=https://{{ hostvars[inventory_hostname]['hostname'] }}:{{ hostvars[inventory_hostname]['port_ksql_sync_int'] }}

# This enables mutual auth checking for the internal listener
ksql.internal.ssl.client.authentication=REQUIRED
ksql.internal.ssl.client.auth=REQUIRED
ksql.internal.ssl.enabled.protocols=TLSv1.3
ksql.internal.ssl.endpoint.identification.algorithm=HTTPS
ksql.internal.ssl.key.password={{ certificate_password }}
ksql.internal.ssl.keystore.location=/etc/kafka/secrets/{{ hostvars[inventory_hostname]['hostname'] }}.jks
ksql.internal.ssl.keystore.password={{ certificate_password }}
ksql.internal.ssl.keystore.type=JKS
ksql.internal.ssl.protocol=TLS
ksql.internal.ssl.truststore.location=/etc/kafka/secrets/shared.truststore.jks
ksql.internal.ssl.truststore.password={{ certificate_password }}
ksql.internal.ssl.truststore.type=JKS


# Map each listener to its advertised name
listener.security.protocol.map=HTTPS:SSL

security.protocol=SSL
ssl.client.authentication=REQUIRED
ssl.enabled.protocols=TLSv1.3
ssl.endpoint.identification.algorithm=HTTPS
ssl.key.password={{ certificate_password }}
ssl.keystore.location=/etc/kafka/secrets/{{ hostvars[inventory_hostname]['hostname'] }}.jks
ssl.keystore.password={{ certificate_password }}
ssl.keystore.type=JKS
ssl.protocol=TLS
ssl.truststore.location=/etc/kafka/secrets/shared.truststore.jks
ssl.truststore.password={{ certificate_password }}
ssl.truststore.type=JKS

# Kafka topic replication settings
ksql.internal.topic.replicas={{ ((groups['brokers'] | default([])) | length) }}
ksql.streams.replication.factor={{ ((groups['brokers'] | default([])) | length) }}
ksql.sink.replicas={{ ((groups['brokers'] | default([])) | length) }}

# Schema Registry configuration (needed if using Avro, JSON Schema, or Protobuf)
ksql.schema.registry.url=https://{{ hostvars['node-00']['hostname'] }}:{{ port_schema_balancer_ext }}
ksql.schema.registry.ssl.client.authentication=REQUIRED
ksql.schema.registry.ssl.enabled.protocols=TLSv1.3
ksql.schema.registry.ssl.endpoint.identification.algorithm=HTTPS
ksql.schema.registry.ssl.key.password={{ certificate_password }}
ksql.schema.registry.ssl.keystore.location=/etc/kafka/secrets/{{ hostvars[inventory_hostname]['hostname'] }}.jks
ksql.schema.registry.ssl.keystore.password={{ certificate_password }}
ksql.schema.registry.ssl.keystore.type=JKS
ksql.schema.registry.ssl.protocol=TLS
ksql.schema.registry.ssl.truststore.location=/etc/kafka/secrets/shared.truststore.jks
ksql.schema.registry.ssl.truststore.password={{ certificate_password }}
ksql.schema.registry.ssl.truststore.type=JKS

# Kafka Connect integration (optional, only required if using connectors)
ksql.connect.url=https://{{ hostvars['node-00']['hostname'] }}:{{ port_connect_balancer_ext }}

# Log processing settings
ksql.logging.processing.stream.auto.create=true
ksql.logging.processing.topic.auto.create=true

# Processing settings
ksql.streams.cache.max.bytes.buffering=10485760
ksql.streams.num.stream.threads=4
ksql.streams.ssl.client.authentication=REQUIRED
ksql.streams.ssl.enabled.protocols=TLSv1.3
ksql.streams.ssl.endpoint.identification.algorithm=HTTPS
ksql.streams.ssl.key.password={{ certificate_password }}
ksql.streams.ssl.keystore.location=/etc/kafka/secrets/{{ hostvars[inventory_hostname]['hostname'] }}.jks
ksql.streams.ssl.keystore.password={{ certificate_password }}
ksql.streams.ssl.keystore.type=JKS
ksql.streams.ssl.protocol=TLS
ksql.streams.ssl.truststore.location=/etc/kafka/secrets/shared.truststore.jks
ksql.streams.ssl.truststore.password={{ certificate_password }}
ksql.streams.ssl.truststore.type=JKS

# Enable metric reporting
ksql.metric.reporters=io.confluent.metrics.reporter.ConfluentMetricsReporter

# JMX monitoring
ksql.jmx.port={{ hostvars[inventory_hostname]['port_jmx_monitoring_int'] }}
ksql.jmx.host={{ hostvars[inventory_hostname]['ansible_host'] }}

# SASL Configuration (Uncomment for SASL_SSL, Comment for mTLS)
# sasl.mechanism=SCRAM-SHA-512
# sasl.jaas.config="org.apache.kafka.common.security.scram.ScramLoginModule required username=\"######\" password=\"#####\";"
