# KSQL CONFIG
########################################################################################################################
# no extra metrics and mess in logs
confluent.support.metrics.enable=false
# Bootstrap servers - list of brokers for connecting to Kafka
bootstrap.servers={% for host in (groups['combined'] | default([])) + (groups['brokers'] | default([])) %}
{{ hostvars[host]['hostname'] }}:{{ hostvars[host]['port_consumer_mtls_ext'] }}{% if not loop.last %},{% endif %}{% endfor %}

# Unique service ID for ksqlDB
ksql.service.id=cluster-ksql

# consumer group id
ksql.streams.consumer.group.id=cluster-ksql

########################################################################################################################
# 🌐 External Listener for other nodes
########################################################################################################################
listener.name.https.ssl.client.auth=required
listener.name.https.ssl.enabled.protocols=TLSv1.2,TLSv1.3
listener.name.https.ssl.endpoint.identification.algorithm=HTTPS
listener.name.https.ssl.key.password={{ certificate_password }}
listener.name.https.ssl.keystore.location=/etc/kafka/secrets/{{ hostvars[inventory_hostname]['hostname'] }}.jks
listener.name.https.ssl.keystore.password={{ certificate_password }}
listener.name.https.ssl.keystore.type=JKS
listener.name.https.ssl.truststore.location=/etc/kafka/secrets/shared.truststore.jks
listener.name.https.ssl.truststore.password={{ certificate_password }}
listener.name.https.ssl.truststore.type=JKS

########################################################################################################################
# 🔁 Internal Listener for KSQLDB nodes
########################################################################################################################
listener.name.https_internal.ssl.client.auth=required
listener.name.https_internal.ssl.enabled.protocols=TLSv1.2,TLSv1.3
listener.name.https_internal.ssl.endpoint.identification.algorithm=HTTPS
listener.name.https_internal.ssl.key.password={{ certificate_password }}
listener.name.https_internal.ssl.keystore.location=/etc/kafka/secrets/{{ hostvars[inventory_hostname]['hostname'] }}.jks
listener.name.https_internal.ssl.keystore.password={{ certificate_password }}
listener.name.https_internal.ssl.keystore.type=JKS
listener.name.https_internal.ssl.truststore.location=/etc/kafka/secrets/shared.truststore.jks
listener.name.https_internal.ssl.truststore.password={{ certificate_password }}
listener.name.https_internal.ssl.truststore.type=JKS

########################################################################################################################
# 🔐 ksqlDB listeners
########################################################################################################################
# actually listened ports internally
listeners=https://{{ hostvars[inventory_hostname]['hostname'] }}:{{ hostvars[inventory_hostname]['port_ksql_rest_int'] }},https://{{ hostvars[inventory_hostname]['hostname'] }}:{{ hostvars[inventory_hostname]['port_ksql_sync_int'] }}

# Advertised listener - this should be routable from non ksql servers - external ports
ksql.advertised.listener=HTTPS://{{ hostvars[inventory_hostname]['hostname'] }}:{{ hostvars[inventory_hostname]['port_ksql_rest_ext'] }}

# Internal listener - this should be routable from ksql only servers - external ports
ksql.internal.listener=HTTPS_INTERNAL://{{ hostvars[inventory_hostname]['hostname'] }}:{{ hostvars[inventory_hostname]['port_ksql_sync_ext'] }}

# Listener name mapping for internal ksqlDB communication
ksql.internal.listener.name=HTTPS_INTERNAL

# Map each listener to its advertised name
listener.security.protocol.map=HTTPS:SSL,HTTPS_INTERNAL:SSL

security.protocol=SSL
ssl.enabled.protocols=TLSv1.2,TLSv1.3
ssl.protocol=TLS
ssl.endpoint.identification.algorithm=HTTPS
ssl.key.password={{ certificate_password }}
ssl.keystore.location=/etc/kafka/secrets/{{ hostvars[inventory_hostname]['hostname'] }}.jks
ssl.keystore.password={{ certificate_password }}
ssl.keystore.type=JKS
ssl.truststore.location=/etc/kafka/secrets/shared.truststore.jks
ssl.truststore.password={{ certificate_password }}
ssl.truststore.type=JKS

# Kafka topic replication settings
ksql.internal.topic.replicas={{ ((groups['brokers'] | default([])) | length) }}
ksql.streams.replication.factor={{ ((groups['brokers'] | default([])) | length) }}
ksql.sink.replicas={{ ((groups['brokers'] | default([])) | length) }}

# Schema Registry configuration (needed if using Avro, JSON Schema, or Protobuf)
ksql.schema.registry.url=https://{{ hostvars['node-00']['hostname'] }}:{{ port_schema_balancer_ext }}

# Kafka Connect integration (optional, only required if using connectors)
ksql.connect.url=https://{{ hostvars['node-00']['hostname'] }}:{{ port_connect_balancer_ext }}

# Log processing settings
ksql.logging.processing.stream.auto.create=true
ksql.logging.processing.topic.auto.create=true

# Processing settings
ksql.streams.cache.max.bytes.buffering=10485760
ksql.streams.num.stream.threads=4

# Enable metric reporting
ksql.metric.reporters=io.confluent.metrics.reporter.ConfluentMetricsReporter

# JMX monitoring
ksql.jmx.port={{ hostvars[inventory_hostname]['port_jmx_monitoring_int'] }}
ksql.jmx.host={{ hostvars[inventory_hostname]['ansible_host'] }}

# SASL Configuration (Uncomment for SASL_SSL, Comment for mTLS)
# sasl.mechanism=SCRAM-SHA-512
# sasl.jaas.config="org.apache.kafka.common.security.scram.ScramLoginModule required username=\"######\" password=\"#####\";"
