# Node ID
node.id={{ node_id }}

# Define the roles for this node (controller and broker)
process.roles=controller

# Unique cluster ID that must match across all nodes (controller and broker)
cluster.id={{ cluster_id }}

#############################################################################################
# Controller Quorum Configuration

# Configuration for the quorum of controllers, listing all controller nodes
controller.quorum.voters={% for host in groups['combined'] + groups['controllers'] %}
{{ hostvars[host].get('node_id', 'undefined') }}@{{ hostvars[host].get('hostname', 'undefined') }}:{{ hostvars[host].get('port_controller_ext', port_controller_ext) }}{% if not loop.last %},{% endif %}{% endfor %}

# Timeout for controller quorum elections (in milliseconds)
controller.quorum.election.timeout.ms=10000

#############################################################################################
# Listeners and communication

# Define the listener for controller-to-controller communication
listeners=CONTROLLER://0.0.0.0:{{ port_controller_ext }}

# Specify the name of the listener used for controller communication
controller.listener.names=CONTROLLER

#############################################################################################
# Data

# Directory where the controller's metadata logs are stored
log.dirs=/var/lib/kafka/data