# Node ID
node.id={{ node_id }}

# Define the roles for this node (controller and broker)
process.roles=broker
controller.listener.names=CONTROLPLANE-{{ hostvars[inventory_hostname]['port_control_plane_ext'] }}
controller.quorum.voters={% for host in (groups['combined'] | default([])) + (groups['controllers'] | default([])) %}
{{ hostvars[host]['node_id'] }}@{{ hostvars[host]['hostname'] }}:{{ hostvars[inventory_hostname]['port_control_plane_ext'] }}{% if not loop.last %},{% endif %}{% endfor %}

# Unique cluster ID that must match across all nodes (controller and broker)
cluster.id=AkU3OEVBNTcwNTJENDM2Qk

##########
# KRaft configuration
##########
process.roles=broker


##########
# Control Plane listener
##########
listener.name.controlplane-{{ hostvars[inventory_hostname]['port_control_plane_ext'] }}.ssl.keystore.location=/etc/kafka/secrets/{{ hostvars[inventory_hostname]['hostname'] }}.keystore.p12
listener.name.controlplane-{{ hostvars[inventory_hostname]['port_control_plane_ext'] }}.ssl.keystore.password=changeme
listener.name.controlplane-{{ hostvars[inventory_hostname]['port_control_plane_ext'] }}.ssl.keystore.type=PKCS12
listener.name.controlplane-{{ hostvars[inventory_hostname]['port_control_plane_ext'] }}.ssl.truststore.location=/etc/kafka/secrets/shared.truststore.jks
listener.name.controlplane-{{ hostvars[inventory_hostname]['port_control_plane_ext'] }}.ssl.truststore.password=changeme
listener.name.controlplane-{{ hostvars[inventory_hostname]['port_control_plane_ext'] }}.ssl.truststore.type=PKCS12
listener.name.controlplane-{{ hostvars[inventory_hostname]['port_control_plane_ext'] }}.ssl.client.auth=required

##########
# Replication listener
##########
listener.name.replication-9091.ssl.keystore.location=/etc/kafka/secrets/{{ hostvars[inventory_hostname]['hostname'] }}.keystore.p12
listener.name.replication-9091.ssl.keystore.password=changeme
listener.name.replication-9091.ssl.keystore.type=PKCS12
listener.name.replication-9091.ssl.truststore.location=/etc/kafka/secrets/shared.truststore.jks
listener.name.replication-9091.ssl.truststore.password=changeme
listener.name.replication-9091.ssl.truststore.type=PKCS12
listener.name.replication-9091.ssl.client.auth=required

##########
# Listener configuration: KAFKA-9093
##########
listener.name.kafka-9093.ssl.client.auth=required
listener.name.kafka-9093.ssl.truststore.location=/etc/kafka/secrets/shared.truststore.jks
listener.name.kafka-9093.ssl.truststore.password=changeme
listener.name.kafka-9093.ssl.truststore.type=PKCS12

listener.name.kafka-9093.ssl.keystore.location=/etc/kafka/secrets/{{ hostvars[inventory_hostname]['hostname'] }}.keystore.p12
listener.name.kafka-9093.ssl.keystore.password=changeme
listener.name.kafka-9093.ssl.keystore.type=PKCS12


##########
# Listener configuration: KAFKAEXT-9095
##########
listener.name.kafkaext-9095.scram-sha-512.sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required username="admin" password="changeme";
listener.name.kafkaext-9095.sasl.enabled.mechanisms=SCRAM-SHA-512

listener.name.kafkaext-9095.ssl.keystore.location=/etc/kafka/secrets/{{ hostvars[inventory_hostname]['hostname'] }}.keystore.p12
listener.name.kafkaext-9095.ssl.keystore.password=changeme
listener.name.kafkaext-9095.ssl.keystore.type=PKCS12

##########
# Common listener configuration
##########
listener.security.protocol.map=CONTROLPLANE-{{ hostvars[inventory_hostname]['port_control_plane_ext'] }}:SSL,REPLICATION-9091:SSL,KAFKA-9093:SSL,KAFKAEXT-9095:SASL_SSL
listeners=REPLICATION-9091://:9091,KAFKA-9093://:9093,KAFKAEXT-9095://:9095
advertised.listeners=REPLICATION-9091://{{ hostvars[inventory_hostname]['hostname'] }}:9091,KAFKA-9093://{{ hostvars[inventory_hostname]['hostname'] }}:9093,KAFKAEXT-9095://{{ hostvars[inventory_hostname]['hostname'] }}:9093
inter.broker.listener.name=REPLICATION-9091
sasl.enabled.mechanisms=
ssl.endpoint.identification.algorithm=HTTPS

##########
# Authorization
##########
authorizer.class.name=org.apache.kafka.metadata.authorizer.StandardAuthorizer
super.users=User:CN=node-1.intel.r7g.org;User:CN=node-2.intel.r7g.org;User:CN=node-3.intel.r7g.org;User:CN=node-4.intel.r7g.org;User:CN=node-5.intel.r7g.org;User:CN=node-6.intel.r7g.org;User:node-1.intel.r7g.org;User:node-2.intel.r7g.org;User:node-3.intel.r7g.org;User:node-4.intel.r7g.org;User:node-5.intel.r7g.org;User:node-6.intel.r7g.org;User:CN=admin;User:admin;

##########
# User provided configuration
##########
default.replication.factor=1
min.insync.replicas=1
offsets.topic.replication.factor=1
transaction.state.log.min.isr=1
transaction.state.log.replication.factor=1


#############################################################################################
# Data and Metadata Storage

# # Directory where the broker data are stored
log.dirs=/var/lib/kafka/data

# # Directory where the broker metadata are stored
metadata.log.dir=/var/lib/kafka/meta
