---
- name: Remove credentials storage on all nodes
  tags:
    - credentials_generate
  ansible.builtin.file:
    path: "{{ storage_credentials_path }}"
    state: absent

- name: Create credentials storage on all nodes
  tags:
    - credentials_generate
  ansible.builtin.file:
    path: "{{ storage_credentials_path }}"
    owner: "{{ owner_user_data }}"
    group: "{{ owner_group_data }}"
    mode: "{{ chmod_credentials }}"
    state: directory

- name: Generate SASL_SSL credentials file for all users on all nodes
  tags:
    - credentials_generate
  when: use_credentials
  ansible.builtin.template:
    src: "user_credentials_sasl_ssl.j2"
    dest: "{{ storage_credentials_path }}/{{ item.username }}.sasl_ssl.properties"
    owner: "{{ owner_user_data }}"
    group: "{{ owner_group_data }}"
    mode: "{{ chmod_credentials }}"
  loop: "{{ credentials }}"
  loop_control:
    label: "{{ item.username }}"

- name: Generate SSL credentials file for all users on all nodes
  tags:
    - credentials_generate
  when: use_credentials
  ansible.builtin.template:
    src: "user_credentials_ssl.j2"
    dest: "{{ storage_credentials_path }}/{{ item.username }}.ssl.properties"
    owner: "{{ owner_user_data }}"
    group: "{{ owner_group_data }}"
    mode: "{{ chmod_credentials }}"
  loop: "{{ credentials }}"
  loop_control:
    label: "{{ item.username }}"

- name: Generate connect credentials on connect nodes only
  tags:
    - credentials_generate
  synchronize:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: push
    rsync_opts:
      - "--timeout=60"
      - "--checksum"
  when: "'connect' in group_names"
  loop_control:
    label: "{{ item.dest }}"
  with_items:
    - { src: "{{ storage_credentials_path }}/connector.ssl.properties",
        dest: "{{ node_credentials_path }}/connector.ssl.properties" }
    - { src: "{{ storage_credentials_path }}/connector.sasl_ssl.properties",
        dest: "{{ node_credentials_path }}/connector.sasl_ssl.properties" }
