---
- name: Remove credentials storage on all nodes
  tags:
    - credentials_generate
  ansible.builtin.file:
    path: "{{ storage_credentials_path }}"
    state: absent

- name: Create credentials storage on all nodes
  tags:
    - credentials_generate
  ansible.builtin.file:
    path: "{{ storage_credentials_path }}"
    owner: "{{ owner_user_data }}"
    group: "{{ owner_group_data }}"
    mode: "{{ chmod_credentials }}"
    state: directory

- name: Generate SASL_SSL credentials file for all users on all nodes
  tags:
    - credentials_generate
  ansible.builtin.template:
    src: "user_credentials_sasl_ssl.j2"
    dest: "{{ storage_credentials_path }}/{{ item.username }}.sasl_ssl.properties"
    owner: "{{ owner_user_data }}"
    group: "{{ owner_group_data }}"
    mode: "{{ chmod_credentials }}"
  loop: "{{ credentials }}"
  loop_control:
    label: "{{ item.username }}"
  when: >
    use_credentials and (
      item.username == inventory_hostname
      or item.username in ['admin']
    )

- name: Generate SSL credentials file for all users on all nodes
  tags:
    - credentials_generate
  ansible.builtin.template:
    src: "user_credentials_ssl.j2"
    dest: "{{ storage_credentials_path }}/{{ item.username }}.ssl.properties"
    owner: "{{ owner_user_data }}"
    group: "{{ owner_group_data }}"
    mode: "{{ chmod_credentials }}"
  loop: "{{ credentials }}"
  loop_control:
    label: "{{ item.username }}"
  when: >
    use_credentials and (
      item.username == inventory_hostname
      or item.username in ['admin']
    )
