---
- name: Create folder for cold rotated backups
  tags:
    - credentials_backup
  when: inventory_hostname == "node-00"
  run_once: true
  ansible.builtin.file:
    path: "{{ central_credentials_backup_path }}"
    state: directory
    owner: "{{ owner_user_data }}"
    group: "{{ owner_group_data }}"
    mode: "{{ chmod_credentials }}"

- name: Create folder for cold pinned backups
  tags:
    - credentials_backup
  when: inventory_hostname == "node-00"
  run_once: true
  ansible.builtin.file:
    path: "{{ central_credentials_backup_pinned }}"
    state: directory
    owner: "{{ owner_user_data }}"
    group: "{{ owner_group_data }}"
    mode: "{{ chmod_credentials }}"

- name: Create credentials archive on nodes
  tags:
    - credentials_backup
  ansible.builtin.shell:
    cmd: >
      tar -cf - -C {{ node_credentials_path }} ./ | xz > {{ node_credentials_temp_archive }}

- name: Pull credentials archive from nodes
  tags:
    - credentials_backup
  delegate_to: node-00
  synchronize:
    src: "{{ node_credentials_temp_archive }}"
    dest: "{{ central_credentials_temp_archive }}"
    mode: pull
    rsync_opts:
      - "--timeout=60"
      - "--checksum"

- name: Create credentials zip of zips
  tags:
    - credentials_backup
  when: inventory_hostname == "node-00"
  run_once: true
  ansible.builtin.shell:
    cmd: >
      tar -cf - -C {{ storage_temp_path }} ./ | xz > "{{ central_credentials_backup_file }}"

