---
- name: Verify archive exists
  tags:
    - configs_restore
  when: inventory_hostname == "node-00"
  run_once: true
  stat:
    path: "{{ restore_archive }}"
  register: archive_stat

- name: Fail if archive does not exist
  tags:
    - configs_restore
  fail:
    msg: "The specified restore archive {{ restore_archive }} does not exist!"
  when: not archive_stat.stat.exists

- name: Extract configs archive to temp on central
  tags:
    - configs_restore
  when: inventory_hostname == "node-00"
  run_once: true
  unarchive:
    src: "{{ restore_archive }}"
    dest: "{{ storage_temp_path }}"
    remote_src: yes

- name: Create config directory on nodes
  tags:
    - configs_restore
  ansible.builtin.file:
    path: "{{ node_config_path }}"
    state: directory
    owner: "{{ owner_user_data }}"
    group: "{{ owner_group_data }}"
    mode: '{{ chmod_configs }}'

- name: Push node archives from node-00 to nodes
  tags:
    - configs_restore
  delegate_to: node-00
  synchronize:
    src: "{{ central_config_temp_archive }}"
    dest: "{{ node_config_temp_archive }}"
    mode: push
    rsync_opts:
      - "--timeout=60"
      - "--checksum"

- name: Restore config on nodes
  tags:
    - configs_restore
  unarchive:
    src: "{{ node_config_temp_archive }}"
    dest: "{{ node_config_path }}"
    remote_src: yes

- name: Set config permissions
  tags:
    - configs_restore
  ansible.builtin.file:
    path: "{{ node_config_path }}"
    owner: "{{ owner_user_data }}"
    group: "{{ owner_group_data }}"
    mode: "{{ chmod_configs }}"
    recurse: true