---
- name: Delete certificates folder on node-00
  tags:
    - certificates_generate
  when: inventory_hostname == "node-00"
  run_once: true
  ansible.builtin.file:
    path: "{{ certificates_store_path }}"
    state: absent

- name: Create certificates folder on management node
  tags:
    - certificates_generate
  when: inventory_hostname == "node-00"
  run_once: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ owner_user_data }}"
    group: "{{ owner_group_data }}"
    mode: "{{ chmod_certificates }}"
    recurse: true
  loop:
    - "{{ certificates_store_path }}/CA"
    - "{{ certificates_store_path }}/nodes"
    - "{{ certificates_store_path }}/users"

- name: Generate a new CA certificate
  tags:
    - certificates_generate
  when: inventory_hostname == "node-00"
  run_once: true
  ansible.builtin.shell: >
    openssl req -new -x509 -newkey rsa:4096 \
    -keyout {{ certificates_store_path }}/CA/ca.key \
    -out {{ certificates_store_path }}/CA/ca.crt \
    -days 3650 \
    -passout pass:{{ certificate_password }} \
    -subj "/CN=Kafka-CA" \
    -addext "basicConstraints=critical,CA:true" \
    -addext "keyUsage=critical,keyCertSign,cRLSign" \
    -addext "subjectKeyIdentifier=hash" \
    -addext "authorityKeyIdentifier=keyid,issuer"

- name: Generate a shared PKCS#12 truststore with the CA certificate
  tags:
    - certificates_generate
  when: inventory_hostname == "node-00"
  run_once: true
  ansible.builtin.shell: >
    keytool -import -trustcacerts -noprompt -alias ca \
    -file {{ certificates_store_path }}/CA/ca.crt \
    -keystore {{ certificates_store_path }}/shared.truststore.p12 \
    -storetype PKCS12 -storepass {{ certificate_password }}

- name: Generate a shared JKS truststore with the CA certificate
  tags:
    - certificates_generate
  when: inventory_hostname == "node-00"
  run_once: true
  ansible.builtin.shell: >
    keytool -import -trustcacerts -noprompt -alias ca \
    -file {{ certificates_store_path }}/CA/ca.crt \
    -keystore {{ certificates_store_path }}/shared.truststore.jks \
    -storetype JKS -storepass {{ certificate_password }}

- name: Create folders for node certificates
  tags:
    - certificates_generate
  when: inventory_hostname == "node-00"
  run_once: true
  loop: "{{ groups['all'] }}"
  ansible.builtin.file:
    path: "{{ certificates_store_path }}/nodes/{{ hostvars[item].hostname }}"
    state: directory
    owner: "{{ owner_user_data }}"
    group: "{{ owner_group_data }}"
    mode: "{{ chmod_certificates }}"

- name: Generate OpenSSL configuration
  tags:
    - certificates_generate
  when: inventory_hostname == "node-00"
  run_once: true
  ansible.builtin.template:
    src: openssl.cnf.j2
    dest: "{{ certificates_store_path }}/nodes/{{ hostvars[item].hostname }}/{{ hostvars[item].hostname }}.cnf"
  loop: "{{ groups['all'] }}"

- name: Generate private keys
  tags:
    - certificates_generate
  when: inventory_hostname == "node-00"
  run_once: true
  ansible.builtin.shell: >
    openssl genpkey -algorithm RSA \
    -out {{ certificates_store_path }}/nodes/{{ hostvars[item].hostname }}/{{ hostvars[item].hostname }}.key \
    -pass pass:{{ certificate_password }}
  loop: "{{ groups['all'] }}"

- name: Generate node SAN CSRs
  tags:
    - certificates_generate
  when: inventory_hostname == "node-00"
  run_once: true
  ansible.builtin.shell: >
    openssl req -new \
    -subj   "/CN={{ hostvars[item].hostname }}" \
    -key    {{ certificates_store_path }}/nodes/{{ hostvars[item].hostname }}/{{ hostvars[item].hostname }}.key \
    -out    {{ certificates_store_path }}/nodes/{{ hostvars[item].hostname }}/{{ hostvars[item].hostname }}.csr \
    -config {{ certificates_store_path }}/nodes/{{ hostvars[item].hostname }}/{{ hostvars[item].hostname }}.cnf
  loop: "{{ groups['all'] }}"

- name: Sign node SAN CSRs using the Self-Signed CA
  tags:
    - certificates_generate
  when: inventory_hostname == "node-00"
  run_once: true
  ansible.builtin.shell: >
    openssl x509 -req -in {{ certificates_store_path }}/nodes/{{ hostvars[item].hostname }}/{{ hostvars[item].hostname }}.csr \
    -CA {{ certificates_store_path }}/CA/ca.crt \
    -CAkey {{ certificates_store_path }}/CA/ca.key \
    -passin pass:{{ certificate_password }} -CAcreateserial \
    -out {{ certificates_store_path }}/nodes/{{ hostvars[item].hostname }}/{{ hostvars[item].hostname }}.crt \
    -days 3650 -extensions v3_req \
    -extfile {{ certificates_store_path }}/nodes/{{ hostvars[item].hostname }}/{{ hostvars[item].hostname }}.cnf
  loop: "{{ groups['all'] }}"

- name: Generate PKCS#12 node keystores
  tags:
    - certificates_generate
  when: inventory_hostname == "node-00"
  run_once: true
  ansible.builtin.shell: >
    openssl pkcs12 -export -in {{ certificates_store_path }}/nodes/{{ hostvars[item].hostname }}/{{ hostvars[item].hostname }}.crt \
    -inkey {{ certificates_store_path }}/nodes/{{ hostvars[item].hostname }}/{{ hostvars[item].hostname }}.key \
    -certfile {{ certificates_store_path }}/CA/ca.crt -name {{ hostvars[item].hostname }} \
    -passin pass:{{ certificate_password }} -passout pass:{{ certificate_password }} \
    -out {{ certificates_store_path }}/nodes/{{ hostvars[item].hostname }}/{{ hostvars[item].hostname }}.p12
  loop: "{{ groups['all'] }}"

- name: Convert PKCS#12 node keystores to JKS format
  tags:
    - certificates_generate
  when: inventory_hostname == "node-00"
  run_once: true
  ansible.builtin.shell: >
    keytool -importkeystore \
    -destkeystore {{ certificates_store_path }}/nodes/{{ hostvars[item].hostname }}/{{ hostvars[item].hostname }}.jks \
    -deststoretype JKS \
    -deststorepass {{ certificate_password }} -destkeypass {{ certificate_password }} \
    -srckeystore {{ certificates_store_path }}/nodes/{{ hostvars[item].hostname }}/{{ hostvars[item].hostname }}.p12 \
    -srcstoretype PKCS12 -srcstorepass {{ certificate_password }} \
    -alias {{ hostvars[item].hostname }} -noprompt
  loop: "{{ groups['all'] }}"
  register: keystore_conversion
  changed_when: "'importing keystore' in keystore_conversion.stdout"
  args:
    creates: "{{ certificates_store_path }}/nodes/{{ hostvars[item].hostname }}/{{ hostvars[item].hostname }}.jks"

- name: Create folders for user certificates
  tags:
    - certificates_generate
  when: inventory_hostname == "node-00"
  run_once: true
  loop: "{{ credentials | map(attribute='username') | list }}"
  ansible.builtin.file:
    path: "{{ certificates_store_path }}/users/{{ item }}"
    state: directory
    owner: "{{ owner_user_data }}"
    group: "{{ owner_group_data }}"
    mode: "{{ chmod_certificates }}"

- name: Generate private keys for users
  tags:
    - certificates_generate
  when: inventory_hostname == "node-00"
  run_once: true
  loop: "{{ credentials | map(attribute='username') | list }}"
  ansible.builtin.shell: >
    openssl genpkey -algorithm RSA -out {{ certificates_store_path }}/users/{{ item }}/{{ item }}.key \
    -pass pass:{{ certificate_password }}

- name: Generate user CSRs
  tags:
    - certificates_generate
  when: inventory_hostname == "node-00"
  run_once: true
  loop: "{{ credentials | map(attribute='username') | list }}"
  ansible.builtin.shell: >
    openssl req -new -key {{ certificates_store_path }}/users/{{ item }}/{{ item }}.key \
    -out {{ certificates_store_path }}/users/{{ item }}/{{ item }}.csr \
    -subj "/CN={{ item }}"

- name: Sign user CSRs using the Self-Signed CA
  tags:
    - certificates_generate
  when: inventory_hostname == "node-00"
  run_once: true
  ansible.builtin.shell: >
    openssl x509 -req -in {{ certificates_store_path }}/users/{{ item }}/{{ item }}.csr \
    -CA {{ certificates_store_path }}/CA/ca.crt \
    -CAkey {{ certificates_store_path }}/CA/ca.key \
    -passin pass:{{ certificate_password }} -CAcreateserial \
    -out {{ certificates_store_path }}/users/{{ item }}/{{ item }}.crt \
    -days 3650 -extensions v3_req 
  loop: "{{ credentials | map(attribute='username') | list }}"

- name: Generate PKCS#12 user keystores
  tags:
    - certificates_generate
  when: inventory_hostname == "node-00"
  run_once: true
  loop: "{{ credentials | map(attribute='username') | list }}"
  ansible.builtin.shell: >
    openssl pkcs12 -export -in {{ certificates_store_path }}/users/{{ item }}/{{ item }}.crt \
    -inkey {{ certificates_store_path }}/users/{{ item }}/{{ item }}.key \
    -certfile {{ certificates_store_path }}/CA/ca.crt -name {{ item }} \
    -passin pass:{{ certificate_password }} -passout pass:{{ certificate_password }} \
    -out {{ certificates_store_path }}/users/{{ item }}/{{ item }}.p12

- name: Convert PKCS#12 user keystores to JKS format
  tags:
    - certificates_generate
  when: inventory_hostname == "node-00"
  run_once: true
  loop: "{{ credentials | map(attribute='username') | list }}"
  loop_control:
    label: "{{ item }}"
  ansible.builtin.shell: >
    keytool -importkeystore \
        -destkeystore {{ certificates_store_path }}/users/{{ item }}/{{ item }}.jks \
        -deststoretype JKS \
        -deststorepass {{ certificate_password }} -destkeypass {{ certificate_password }} \
        -srckeystore {{ certificates_store_path }}/users/{{ item }}/{{ item }}.p12 \
        -srcstoretype PKCS12 -srcstorepass {{ certificate_password }} \
        -alias {{ item }} -noprompt

- name: Set certificate folder permissions
  tags:
    - certificates_generate
  when: inventory_hostname == "node-00"
  run_once: true
  ansible.builtin.file:
    path: "{{ certificates_store_path }}"
    owner: "{{ owner_user_data }}"
    group: "{{ owner_group_data }}"
    mode: "{{ chmod_certificates }}"
    recurse: true

- name: Create certificate folder on nodes
  tags:
    - certificates_generate
  ansible.builtin.file:
    path: "{{ node_certificates_path }}"
    state: directory
    owner: "{{ owner_user_data }}"
    group: "{{ owner_group_data }}"
    mode: "{{ chmod_certificates }}"
    recurse: true

- name: Distribute required certificates to all nodes
  tags:
    - certificates_generate
  synchronize:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: push
    rsync_opts:
      - "--timeout=60"
      - "--checksum"
  loop_control:
    label: "{{ item.dest }}"
  with_items:
    - { src: "{{ certificates_store_path }}/nodes/{{ hostvars[inventory_hostname].hostname }}/{{ hostvars[inventory_hostname].hostname }}.jks",
        dest: "{{ node_certificates_path }}/{{ hostvars[inventory_hostname].hostname }}.jks" }
    - { src: "{{ certificates_store_path }}/nodes/{{ hostvars[inventory_hostname].hostname }}/{{ hostvars[inventory_hostname].hostname }}.key",
        dest: "{{ node_certificates_path }}/{{ hostvars[inventory_hostname].hostname }}.key" }
    - { src: "{{ certificates_store_path }}/nodes/{{ hostvars[inventory_hostname].hostname }}/{{ hostvars[inventory_hostname].hostname }}.crt",
        dest: "{{ node_certificates_path }}/{{ hostvars[inventory_hostname].hostname }}.crt" }
    - { src: "{{ certificates_store_path }}/users/admin/admin.jks",
        dest: "{{ node_certificates_path }}/admin.jks" }
    - { src: "{{ certificates_store_path }}/shared.truststore.jks",
        dest: "{{ node_certificates_path }}/shared.truststore.jks" }

- name: Distribute schema keystore to schema nodes only
  tags:
    - certificates_generate
  synchronize:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: push
    rsync_opts:
      - "--timeout=60"
      - "--checksum"
  loop_control:
    label: "{{ item.dest }}"
  with_items:
    - { src: "{{ certificates_store_path }}/users/schema/schema.jks",
        dest: "{{ node_certificates_path }}/schema.jks" }
  when: "'schema' in group_names"

- name: Distribute connect keystore to connect nodes only
  tags:
    - certificates_generate
  synchronize:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: push
    rsync_opts:
      - "--timeout=60"
      - "--checksum"
  loop_control:
    label: "{{ item.dest }}"
  with_items:
    - { src: "{{ certificates_store_path }}/users/connector/connector.jks",
        dest: "{{ node_certificates_path }}/connector.jks" }
  when: "'connect' in group_names"

- name: Distribute ksql keystore to ksql nodes only
  tags:
    - certificates_generate
  synchronize:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: push
    rsync_opts:
      - "--timeout=60"
      - "--checksum"
  loop_control:
    label: "{{ item.dest }}"
  with_items:
    - { src: "{{ certificates_store_path }}/users/ksql/ksql.jks",
        dest: "{{ node_certificates_path }}/ksql.jks" }
  when: "'ksql' in group_names"
