---
- name: Verify archive exists
  tags:
    - certificates_restore
  when: inventory_hostname == "node-00"
  run_once: true
  stat:
    path: "{{ restore_archive }}"
  register: archive_stat

- name: Fail if archive does not exist
  tags:
    - certificates_restore
  fail:
    msg: "The specified restore archive {{ restore_archive }} does not exist!"
  when: not archive_stat.stat.exists

- name: Extract certificates archive to temp on node-00
  tags:
    - certificates_restore
  when: inventory_hostname == "node-00"
  run_once: true
  unarchive:
    src: "{{ restore_archive }}"
    dest: "{{ storage_temp_path }}"
    remote_src: yes

- name: Create certificates folder on nodes
  tags:
    - certificates_restore
  ansible.builtin.file:
    path: "{{ node_certificates_path }}"
    state: directory
    owner: "{{ owner_user_data }}"
    group: "{{ owner_group_data }}"
    mode: "{{ chmod_certificates }}"
    recurse: true

- name: Push node archives from node-00 to nodes
  tags:
    - certificates_restore
  when: inventory_hostname != 'node-00'
  delegate_to: node-00
  synchronize:
    src: "{{ central_certificates_temp_archive }}"
    dest: "{{ node_certificates_temp_archive }}"
    mode: push
    rsync_opts:
      - "--timeout=60"
      - "--checksum"
  register: sync_result
  failed_when: sync_result.rc != 0

- name: Restore certificates folder on nodes
  tags:
    - certificates_restore
  unarchive:
    src: "{{ node_certificates_temp_archive }}"
    dest: "{{ node_certificates_path }}"
    remote_src: yes

- name: Set certificate permissions
  tags:
    - certificates_restore
  ansible.builtin.file:
    path: "{{ node_certificates_path }}"
    owner: "{{ owner_user_data }}"
    group: "{{ owner_group_data }}"
    mode: "{{ chmod_certificates }}"
    recurse: true