---
- name: Create folder for cold rotated backups
  tags:
    - certificates_rotate
  when: inventory_hostname == "node-00"
  ansible.builtin.file:
    path: "{{ central_certificates_backup_path }}"
    owner: "{{ owner_user_data }}"
    group: "{{ owner_group_data }}"
    mode: "{{ chmod_certificates }}"
    state: directory

- name: Create folder for cold pinned backups
  tags:
    - certificates_rotate
  when: inventory_hostname == "node-00"
  ansible.builtin.file:
    path: "{{ central_certificates_backup_pinned }}"
    owner: "{{ owner_user_data }}"
    group: "{{ owner_group_data }}"
    mode: "{{ chmod_certificates }}"
    state: directory

- name: Rotate old certificate backups
  tags:
    - certificates_rotate
  when: inventory_hostname == "node-00"
  find:
    paths: "{{ central_certificates_backup_rotated }}"
    age: "{{ retention_policy_certificates }}d"
    recurse: yes
    patterns: "{{ central_certificates_backup_rotate_pattern }}"
  register: old_certificates_backups

- name: Remove old certificate backups
  tags:
    - certificates_rotate
  when: inventory_hostname == "node-00"
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: absent
  with_items: "{{ old_certificates_backups.files }}"
  loop_control:
    label: "Removed - {{ item.path }}"

- name: Remove empty certificates directories in cold storage
  tags:
    - certificates_rotate
  when: inventory_hostname == "node-00"
  shell: >
    find {{ central_certificates_backup_rotated }} -depth -type d -empty -delete
