---
- name: Create folder for cold rotated backups
  tags:
    - certificates_backup
  when: inventory_hostname == "node-00"
  run_once: true
  ansible.builtin.file:
    path: "{{ central_certificates_backup_path }}"
    state: directory
    owner: "{{ owner_user_data }}"
    group: "{{ owner_group_data }}"
    mode: "{{ chmod_certificates }}"

- name: Create folder for cold pinned backups
  tags:
    - certificates_backup
  when: inventory_hostname == "node-00"
  run_once: true
  ansible.builtin.file:
    path: "{{ central_certificates_backup_pinned }}"
    state: directory
    owner: "{{ owner_user_data }}"
    group: "{{ owner_group_data }}"
    mode: "{{ chmod_certificates }}"

- name: Create certificates archive on nodes
  tags:
    - certificates_backup
  ansible.builtin.shell:
    cmd: >
      tar -cf - -C {{ node_certificates_path }} ./ | xz > {{ node_certificates_temp_archive }}

- name: Pull certificates archive from nodes
  tags:
    - certificates_backup
  delegate_to: node-00
  synchronize:
    src: "{{ node_certificates_temp_archive }}"
    dest: "{{ central_certificates_temp_archive }}"
    mode: pull
    rsync_opts:
      - "--timeout=60"
      - "--checksum"

- name: Add certificates-store archive to the backup scope
  tags:
    - certificates_backup
  when: inventory_hostname == "node-00"
  run_once: true
  ansible.builtin.shell:
    cmd: >
      tar -cf - -C {{ certificates_store_path }} ./ | xz > {{ central_certificates_temp_archive }}


- name: Create certificates zip of zips
  tags:
    - certificates_backup
  when: inventory_hostname == "node-00"
  run_once: true
  ansible.builtin.shell:
    cmd: >
      tar -cf - -C {{ storage_temp_path }} ./ | xz > "{{ central_certificates_backup_file }}"