---
- name: Start Kafka containers on each cluster node
  tags:
    - containers_start
    - containers_restart
  when:
    - "'cluster' in group_names"
    - "item.role in group_names"
  docker_container:
    name: "{{ item.name }}"
    state: started
  loop: "{{ kafka_services }}"
  loop_control:
    label: "{{ item.role }}"

- name: Start Envoy balancers on node-00
  tags:
    - containers_start
    - containers_restart
  when: inventory_hostname == "node-00"
  docker_container:
    name: "{{ item.name }}"
    state: started
  loop: "{{ balancers }}"
  loop_control:
    label: "{{ item.name }}"
