---
- name: Remove Kafka containers
  tags:
    - containers_uninstall
  when:
    - "'cluster' in group_names"
    - "item.role in group_names"
  docker_container:
    name: "{{ item.name }}"
    state: absent
  loop: "{{ kafka_services }}"
  loop_control:
    label: "{{ item.role }}"

- name: Remove folder for application logs
  tags:
    - containers_uninstall
  when:
    - "'cluster' in group_names"
  ansible.builtin.file:
    path: "{{ node_logs_path }}"
    state: absent


