---
- name: Stop Kafka containers
  tags:
    - containers_stop
  when:
    - "item.role in group_names"
  docker_container:
    name: "{{ item.name }}"
    state: stopped
  loop: "{{ kafka_services }}"
  loop_control:
    label: "{{ item.role }}"
