---
- name: Start Kafka containers in startup order
  tags:
    - containers_start
    - containers_restart
  shell: >
    docker start {{ hostvars[item]['hostname'] }}
  delegate_to: "{{ item }}"
  with_items: "{{ startup_order }}"
  run_once: true  # Ensure task runs only once on localhost

- name: Start Envoy balancers on node-00
  tags:
    - containers_start
    - containers_restart
  delegate_to: node-00
  run_once: true
  docker_container:
    name: "{{ item.name }}"
    state: started
  loop: "{{ balancers }}"
  loop_control:
    label: "{{ item.name }}"
