---
- name: Remove all Envoy balancers on node-00
  tags: containers_remove
  delegate_to: node-00
  run_once: true
  docker_container:
    name: "{{ item.name }}"
    state: absent
    force_kill: true
  loop: "{{ balancers }}"
  loop_control:
    label: "{{ item.name }}"

- name: Remove Kafka containers in shutdown order
  tags:
    - containers_remove
  delegate_to: "{{ item }}"
  with_items: "{{ shutdown_order }}"
  run_once: true
  shell: >
    docker rm -f {{ hostvars[item]['hostname'] }}

- name: Remove folder for application logs
  tags:
    - containers_remove
  delegate_to: "{{ item }}"
  with_items: "{{ shutdown_order }}"
  run_once: true  # Ensure task runs only once on localhost
  ansible.builtin.file:
    path: "{{ node_logs_path }}"
    state: absent


