---
- name: Compute Heap size on cluster nodes
  tags: containers_run
  when: "'cluster' in group_names"
  set_fact:
    node_heap: >-
      {{ lookup(
        'pipe',
        "awk -v p={{ heap_size_percent|default(50) }} '/MemTotal/ {printf \"%dM\", ($2/1024*p/100)}' /proc/meminfo"
      ) }}

- name: Debug Node Configurations Before Running Containers
  tags:
    - containers_run
  debug:
    msg: "Heap: {{ node_heap[inventory_hostname] | default('Unknown') }} MB, Role: {{ group_roles[inventory_hostname] | default('No role assigned') }}"

- name: Create folder for application logs
  tags:
    - containers_run
  when: "'cluster' in group_names"
  ansible.builtin.file:
    path: "{{ node_logs_path }}"
    state: directory
    owner: "{{ owner_user_data }}"
    group: "{{ owner_group_data }}"
    mode: "{{ chmod_logs }}"
    recurse: true

- name: Run Kafka containers on each cluster node
  tags:
    - containers_run
  docker_container:
    name: "{{ item.name }}"
    image: "{{ item.image }}"
    hostname: "{{ item.hostname }}"
    restart_policy: "{{ item.restart_policy }}"
    ports: "{{ item.published_ports | default([]) }}"
    volumes: "{{ item.volumes | default([]) }}"
    env_file: "{{ item.env_file | default(omit) }}"
    env: "{{ item.env | default(omit) }}"
    command: "{{ item.command | default(omit) }}"
    state: started
  loop: "{{ kafka_services }}"
  loop_control:
    label: "{{ item.role }}"
  when:
    - "'cluster' in group_names"
    - "item.role in group_names"

- name: Run Envoy Balancers on node-00
  tags: containers_run
  delegate_to: node-00
  run_once: true
  docker_container:
    name: "{{ item.name }}"
    image: "{{ item.image }}"
    hostname: "{{ item.hostname }}"
    restart_policy: "{{ item.restart_policy }}"
    ports: "{{ item.ports }}"
    volumes: "{{ item.volumes }}"
    healthcheck: "{{ item.healthcheck }}"
    state: started
  loop: "{{ balancers }}"
  loop_control:
    label: "{{ item.name }}"