---
- name: Remove all Envoy balancers on node-00
  tags: containers_remove
  when: inventory_hostname == "node-00"
  docker_container:
    name: "{{ item.name }}"
    state: absent
    force_kill: true
  loop: "{{ balancers }}"
  loop_control:
    label: "{{ item.name }}"

- name: Remove Kafka containers
  tags:
    - containers_stop
    - containers_restart
  when:
    - "'cluster' in group_names"
    - "item.role in group_names"
  docker_container:
    name: "{{ item.name }}"
    state: absent
  loop: "{{ kafka_services }}"
  loop_control:
    label: "{{ item.role }}"

- name: Remove folder for application logs
  tags:
    - containers_remove
  when:
    - "'cluster' in group_names"
  ansible.builtin.file:
    path: "{{ node_logs_path }}"
    state: absent


