---
- name: Stop Envoy balancers on node-00
  tags:
    - containers_stop
    - containers_restart
  delegate_to: node-00
  run_once: true
  docker_container:
    name: "{{ item.name }}"
    state: stopped
  loop: "{{ balancers }}"
  loop_control:
    label: "{{ item.name }}"

- name: Stop Docker containers in shutdown order
  tags:
    - containers_stop
    - containers_restart
  shell: >
    docker stop {{ hostvars[item]['hostname'] }}
  delegate_to: "{{ item }}"
  with_items: "{{ shutdown_order }}"
  run_once: true  # Ensure task runs only once on localhost

