---
- name: Create folder for application logs
  tags:
    - containers_run
  when: "'cluster' in group_names"
  ansible.builtin.file:
    path: "{{ node_logs_path }}"
    state: directory
    owner: "{{ owner_user_data }}"
    group: "{{ owner_group_data }}"
    mode: "{{ chmod_logs }}"
    recurse: true

- name: Run Kafka containers
  tags:
    - containers_run
  when:
    - "'cluster' in group_names"
    - "item.role in group_names"
  docker_container:
    name: "{{ item.name }}"
    image: "{{ item.image }}"
    hostname: "{{ item.hostname }}"
    restart_policy: "{{ item.restart_policy }}"
    ports: "{{ item.published_ports | default([]) }}"
    volumes: "{{ item.volumes | default([]) }}"
    env_file: "{{ item.env_file | default(omit) }}"
    env: "{{ item.env | default(omit) }}"
    command: "{{ item.command | default(omit) }}"
    state: started
  loop: "{{ kafka_services }}"
  loop_control:
    label: "{{ item.role }}"