---
- name: Stop Kafka containers
  tags:
    - containers_stop
  when:
    - "item.role in group_names"
  docker_container:
    name: "{{ item.name }}"
    state: stopped
  loop: "{{ kafka_services }}"
  loop_control:
    label: "{{ item.role }}"

- name: Stop Envoy balancers on node-00
  tags:
    - containers_stop
  when: inventory_hostname == "node-00"
  docker_container:
    name: "{{ item.name }}"
    state: stopped
  loop: "{{ balancers }}"
  loop_control:
    label: "{{ item.name }}"


