---
- name: Start Kafka containers on each cluster node
  tags:
    - containers_start
  when:
    - "item.role in group_names"
  docker_container:
    name: "{{ item.name }}"
    state: started
  loop: "{{ kafka_services }}"
  loop_control:
    label: "{{ item.role }}"
