---
- name: Restart Kafka containers on each cluster node
  tags:
    - containers_restart
  when:
    - "item.role in group_names"
  docker_container:
    name: "{{ item.name }}"
    state: started
    restart: true
  loop: "{{ kafka_services }}"
  loop_control:
    label: "{{ item.role }}"

- name: Restart Envoy balancers on node-00
  tags:
    - containers_restart
  when: inventory_hostname == "node-00"
  docker_container:
    name: "{{ item.name }}"
    state: started
    restart: true
  loop: "{{ balancers }}"
  loop_control:
    label: "{{ item.name }}"
