---
- name: Create folder for application logs
  tags:
    - containers_install
  when: "'cluster' in group_names"
  ansible.builtin.file:
    path: "{{ node_logs_path }}"
    state: directory
    owner: "{{ owner_user_data }}"
    group: "{{ owner_group_data }}"
    mode: "{{ chmod_logs }}"
    recurse: true

- name: Run Kafka containers
  tags:
    - containers_install
  when:
    - "'cluster' in group_names"
    - "item.role in group_names"
  docker_container:
    name: "{{ item.name }}"
    hostname: "{{ item.hostname }}"
    image: "{{ item.image }}"
    command: "{{ item.command | default(omit) }}"
    state: started
    restart_policy: "{{ item.restart_policy | default('always') }}"
    auto_remove: "{{ item.rm | default(omit) }}"
    memory: "{{ item.memory | default(omit) }}"
    ports: "{{ item.ports | default(omit) }}"
    env: "{{ item.env | default(omit) }}"
    env_file: "{{ item.env_file | default(omit) }}"
    volumes: "{{ item.volumes | default(omit) }}"
    healthcheck: "{{ item.healthcheck | default(omit) }}"
  loop: "{{ kafka_services }}"
  loop_control:
    label: "{{ item.role }}"




