KafkaServer {
  org.apache.kafka.common.security.scram.ScramLoginModule{% for user in credentials %}
  username="admin" password="insecure"
  user_admin="insecure"
};

controller.KafkaServer {
  org.apache.kafka.common.security.scram.ScramLoginModule{% for user in credentials %}
  username="admin" password="insecure"
  user_admin="insecure"
};

KafkaClient {
  org.apache.kafka.common.security.scram.ScramLoginModule{% for user in credentials %}
  username="admin" password="insecure"
  user_admin="insecure"
};