KafkaServer {
  org.apache.kafka.common.security.scram.ScramLoginModule required
  username="admin" password="insecure" user_admin="insecure";
};

controller.KafkaServer {
  org.apache.kafka.common.security.scram.ScramLoginModule required
  username="admin" password="insecure" user_admin="insecure";
};

KafkaClient {
  org.apache.kafka.common.security.scram.ScramLoginModule required
  username="admin" password="insecure" user_admin="insecure";
};

sasl_ssl.KafkaServer {
  org.apache.kafka.common.security.scram.ScramLoginModule required
  username="admin" password="insecure" user_admin="insecure";
};