KafkaServer {
  org.apache.kafka.common.security.scram.ScramLoginModule
  username="admin" password="insecure"
};

controller.KafkaServer {
  org.apache.kafka.common.security.scram.ScramLoginModule
  username="admin" password="insecure"
};

KafkaClient {
  org.apache.kafka.common.security.scram.ScramLoginModule
  username="admin" password="insecure"
};