---
- name: Cluster Backup Offline
  hosts: all
  become: yes
  pre_tasks:
    - name: Cleanup temp folders before execution
      include_tasks: ../roles/system/tasks/temp_cleanup.yml
      tags:
        - cluster_backup
        - cluster_restore
        - temp_cleanup

  roles:
    - role: ../roles/acls          # Include ACLs related tasks
    - role: ../roles/certificates  # Include Certificates related tasks
    - role: ../roles/credentials   # Include Credentials related tasks
    - role: ../roles/configs       # Include Configs related tasks
    - role: ../roles/cluster       # Include Cluster related tasks
    - role: ../roles/docker        # Include Docker related tasks
    - role: ../roles/data          # Include Data related tasks
    - role: ../roles/system        # Include stuff like Prerequisites, temp folder cleanup etc.
    - role: ../roles/gui           # Include stuff like Portainer, KPOW, Kafka-UI

  post_tasks:
    - name: Cleanup temp folders after execution
      include_tasks: ../roles/system/tasks/temp_cleanup.yml
      tags:
        - cluster_backup
        - cluster_restore
        - temp_cleanup
