events {
    worker_connections 1024;
}

stream {
    upstream kafka_connect {
        {% for host in groups['connect'] %}
        server {{ hostvars[host]['hostname'] }}:{{ port_connect_rest_ext }};
        {% endfor %}
    }

    server {
        listen {{ port_connect_rest_int }} ssl;
        ssl_certificate /data/cluster/certificates/nodes/{{ hostvars['node-0']['hostname'] }}/{{ hostvars['node-0']['hostname'] }}.crt;
        ssl_certificate_key /data/cluster/certificates/nodes/{{ hostvars['node-0']['hostname'] }}/{{ hostvars['node-0']['hostname'] }}.key;
        ssl_protocols TLSv1.3;
        ssl_session_cache shared:SSL:10m;
        ssl_session_timeout 10m;

        proxy_pass kafka_connect;
        proxy_ssl on;
        proxy_ssl_protocols TLSv1.3;
        proxy_ssl_session_reuse on;
        proxy_ssl_trusted_certificate /data/cluster/certificates/CA/ca.crt;
    }
}